ServerName localhost:80 

# Django Project
LoadFile "C:/Python310/python310.dll"
LoadModule wsgi_module "C:/git/Sistema-de-Organizaciones-de-Accion-Comunitaria/venv/lib/site-packages/mod_wsgi/server/mod_wsgi.cp310-win_amd64.pyd"
WSGIPythonHome "C:/git/Sistema-de-Organizaciones-de-Accion-Comunitaria/venv"
WSGIScriptAlias / "C:/git/Sistema-de-Organizaciones-de-Accion-Comunitaria/soac/wsgi.py"
WSGIPythonPath "C:/git/Sistema-de-Organizaciones-de-Accion-Comunitaria/"

<Directory "C:/git/Sistema-de-Organizaciones-de-Accion-Comunitaria/soac/">
    <Files wsgi.py>
        Require all granted
    </Files>
</Directory>

Alias /static "C:/git/Sistema-de-Organizaciones-de-Accion-Comunitaria/static/"
<Directory "C:/git/Sistema-de-Organizaciones-de-Accion-Comunitaria/static/">
    Require all granted
</Directory>