{% extends "base.html" %} {% block head_content %}
<title>SOAC - Bandeja de edicion</title>
{% endblock%} {% block body %}
<article class="container d-flex flex-column text-dark p-5">
	<h1 class="text-dark display-2 text-center mb-5">Devolucion de {{org.name}}</h1>
    <form class="bg-lightblue card py-3" autocomplete="off" action="{% url 'return_sign' org.id %}" method="POST">
		{% csrf_token %}
        <div class="form-group mx-5 my-3">
            <h5> Podes enviar un mensaje junto a tu devolucion: </h5>
            <textarea maxlength='200' name='msg' class="form-control mt-3" id="exampleFormControlTextarea1" rows="3"></textarea>
            <div class="form-group d-flex justify-content-around mt-3">
                <button class="w-25 btn btn-primary-dark btn-block" type="submit">Registrar</button>
            </div>
        </div>
    </div>
    

</article>

{% endblock %}
