{% extends "base.html" %} {% block head_content %}
<title>SOAC - Bandeja de edicion</title>
{% endblock%} {% block body %}
<article class="container d-flex flex-column text-dark p-5">
	<h1 class="text-dark display-2 text-center mb-5">Bandeja de firma</h1>

	<div class="d-flex bg-lightblue px-5 py-3 card justify-content-center">
		<table class="table text-center text-dark">
		<thead>
			<tr>
				<th scope="col">Nombre</th>
				<th scope="col">Solicitud</th>
				<th scope="col">Documentacion</th>
				<th scope="col">Informacion</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for u in sign %}
			<tr>
				<td>{{u.name}}</td>
				<td>{{u.registration_request}}</td>
				<td><a class="btn btn-secondary-light" target="_blank" href="/media/{{u.doc}}">Ver</a></td>
                <td><a class="btn btn-secondary-light" target="_blank" href="/organizations/org/{{u.id}}/" role="button">Ver</a></td>
                <td>
					<a
						href="#"
						class=" text-decoration-none btn btn-primary-dark"
						id="dropdownUser1"
						data-bs-toggle="dropdown"
						aria-expanded="false"
						>Acciones
					</a>
					<ul
						class="dropdown-menu dropdown-menu-light text-small shadow"
						aria-labelledby="dropdownUser1"
					>
                        <li>
                            <a class="text-center dropdown-item text-danger" href="/inbox/sign/return/{{u.id}}/" role="button">Devolver</a>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
						<li>
							<a class="text-center dropdown-item" href="/inbox/sign/signing/{{u.id}}/" role="button">Firmar</a>
						</li>
					</ul>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
	{% if nothing == None %}
	<div class="form-group d-flex justify-content-around mt-5">
		<p>Esperando notificaciones...</p>
	</div>
	{% endif %}
</article>

{% endblock %}
