{% extends "base.html" %} {% block head_content %}
<title>SOAC - Firmando </title>
{% endblock%} {% block body %}
<article class="container d-flex flex-column text-dark p-5">
	<h1 class="text-dark display-2 text-center mb-5">Firmar a {{org.name}}</h1>
    <form class="bg-lightblue card py-3" method="post" enctype="multipart/form-data">
		{% csrf_token %}
        <div class="form-group mx-5 my-3">
            <a class="btn btn-primary-dark w-100" target="_blank" href="/media/{{org.doc}}">Ver documentacion</a>
            <a class="btn btn-primary-dark w-100 my-3" target="_blank" href="{% url 'certificate' org.id %}">Ver certificado a firmar</a>
            <div class="form-group">
                <label>Certifiacdo firmado:</label>
				{{ form.as_p }}
			</div>
            <div class="form-group d-flex justify-content-around mt-3">
                <button class="w-25 btn btn-primary-dark btn-block" type="submit">Firmar</button>
            </div>
        </div>
    </div>
    

</article>

{% endblock %}
