{% extends "base.html" %} 
{% load static %}
{% block head_content %}
<title>SOAC - Historial</title>
{% endblock %} 
{% block body %}
<section class="container-fluid p-5">
	
	<h1 class="text-dark display-2 text-center mb-5 bold" style='font-weight: bolder'>Historial</h1>
    <article class='p-3 bg-lightblue card mt-5'>

        <form action="{% url 'history' %}" method="POST">
            {% csrf_token %}
            <div class="form-row d-flex justify-content-around">
                <div class="col mx-1 form-group">
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Accion"
                        name="action"
                        value="{{values.action}}"
                    />
                </div>
                <div class="col mx-1 form-group">
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Usuario"
                        name="user"
                        value="{{values.user}}"
                    />
                </div>
                <div class="col mx-1 form-group">
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Fecha"
                        name="date"
                        value="{{values.date}}"
                    />
                </div>
            </div>
    
            <div class="form-row d-flex justify-content-around my-3">
                <div class="col-3 form-group">
                    <a
                        class="form-control btn btn-success mb-3"
                        href="{% url 'history_report' %}"
                        role="button"
                        >Exportar</a
                    >
                </div>
                <div class="col-3 form-group">
                    <a
                        class="form-control btn btn-primary-dark mb-3"
                        href="{% url 'history' %}"
                        role="button"
                        >Limpiar filtros</a
                    >
                </div>
                <div class="col-3 form-group">
                    <button
                        class="btn btn-primary-dark px-3 mb-3 form-control"
                        type="submit"
                    >
                        Buscar
                    </button>
                </div>
            </div>
        </form>

        <table class="table text-dark">
            <thead>
                <tr>
                    <th scope="col">Accion</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for e in items %}
                <tr>
                    <td>{{e.action}}</td>
                    <td>{{e.by}}</td>
                    <td>{{e.date | date:"d-m-Y"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
</section>
{% endblock %}