{% extends "base.html" %} {% block head_content %}
<title>SOAC - Actividad: {{activity.event_name}}</title>
{% endblock%} {% block body %}
<article class="container d-flex flex-column text-dark p-5">
	<h1 class="text-dark display-2 text-center mb-3">{{ activity.activity_type }}</h1>
	<h3 class="text-center">{{ activity.date | date:"d-m-Y"}}</h3>

    <div class="bg-lightblue text-dark card p-3 ">
		<table class="text-dark table w-100 ">
			<tr class="py-3">
				<td><strong>ID:</strong></td>
				<td class="py-3 text-end">{{ activity.id }}</td>
			</tr>
			<tr class="mb-3">
				<td><strong>Creado:</strong></td>
				<td class="py-3 text-end">{{ activity.created | date:"d-m-Y" }}</td>
			</tr>
			<tr class="py-3">
				<td><strong>Fecha de actividad:</strong></td>
				<td class="py-3 text-end">{{ activity.date | date:"d-m-Y" }}</td>
			</tr>
			<tr class="py-3">
				<td><strong>Hora:</strong></td>
				{% if activity.hour != '00:00:00' %}
				<td class="py-3 text-end">{{ activity.hour }}</td>
				{% else %}
				<td class="py-3 text-end">Todo el dia</td>
				{% endif %}
			</tr>
			<tr class="py-3">
				<td><strong>Organizaciones:</strong></td>
				<td class="py-3 text-end">{{ orgs  }}</td>
			</tr>
		</table>
	</div>
	{% if level == 'central' or level == 'admin' %}
    <div class="d-flex justify-content-around mt-5">
		<a
			href="#"
			class="w-25 text-decoration-none btn btn-danger"
			id="dropdownUser1"
			data-bs-toggle="dropdown"
			aria-expanded="false"
			>Eliminar
		</a>
		<ul
			class="dropdown-menu dropdown-menu-light text-small shadow"
			aria-labelledby="dropdownUser1"
		>
			<li>
				<p class="text-center">¿Esta seguro?</p>
			</li>
			<li><hr class="dropdown-divider" /></li>
			<li>
				<a class="text-center dropdown-item text-danger" href="delete/"
					>Si</a
				>
			</li>
			<li>
				<a class="text-center dropdown-item text-dark" href=""
					>No</a
				>
			</li>
		</ul>
		<a class="btn w-25 btn-primary-dark" href="modify/" role="button"
			>Modificar</a
		>
	</div>
	{% endif %}
</article>

{% endblock %}
