{% extends "base.html" %} 
{% load static %}
{% block head_content %}
<title>SOAC - Reclamos</title>
{% endblock %} 
{% block body %}
<section class="container-fluid p-5">
	<a href="javascript: history.go(-1)"
	><svg
		xmlns="http://www.w3.org/2000/svg"
		width="32"
		height="32"
		fill="currentColor"
		class="bi bi-arrow-left-circle mt-1"
		viewBox="0 0 16 16"
	>
		<path
			fill-rule="evenodd"
			d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
		/></svg
	></a>
	<h1 class="text-dark display-2 text-center mb-5">Reclamos</h1>
    <article class='p-3 bg-lightblue card mt-5'>

        <form action="{% url 'claims' %}" method="POST">
            {% csrf_token %}
            <div class="form-row d-flex justify-content-around">
                <div class="col-3 w-25 mx-1 form-group">
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Usuario"
                        name="by"
                        value="{{values.by}}"
                    />
                </div>
                <div class="col-3 w-25 mx-1 form-group">
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Organizacion"
                        name="org_name"
                        value="{{values.org_name}}"
                    />
                </div>
                <div class="col-3 w-25 mx-1 form-group">
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Observacion"
                        name="observation"
                        value="{{values.observation}}"
                    />
                </div>
                <div class'col-3 w-25 mx-1 form-group'>
                    <select
					    name="state"
					    class="form-control form-select">
						<option selected value="abierto">Abierto</option>
						<option value="resuelto">Resuelto</option>
						<option value="rechazado">Rechazado</option>
				    </select>
                </div>
            </div>
    
            <div class="form-row d-flex justify-content-around my-3">
                <div class="col-3 form-group">
                    <a
                        class="form-control btn btn-primary-dark mb-3"
                        href="{% url 'claims_report' %}"
                        role="button"
                        >Exportar</a
                    >
                </div>
                <div class="col-3 form-group">
                    <a
                        class="form-control btn btn-primary-dark mb-3"
                        href="{% url 'claims' %}"
                        role="button"
                        >Limpiar filtros</a
                    >
                </div>
                <div class="col-3 form-group">
                    <button
                        class="btn btn-primary-dark px-3 mb-3 form-control"
                        type="submit"
                    >
                        Buscar
                    </button>
                </div>
            </div>
        </form>

        <table class="table text-dark">
            <thead>
                <tr>
                    <th scope="col">Creacion</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">observacion</th>
                    <th scope="col">Organizacion</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for e in claims %}
                <tr>
                    <td>{{e.created}}</td>
                    <td>{{e.by}}</td>
                    <td>{{e.observation}}</td>
                    <td>{{e.org_name}}</td>
                    <td>{{e.state}}</td>
                    <td>
                        <a
                            class="btn btn-primary-dark"
                            href="/claim/{{e.id}}/"
                            role="button"
                            >Ver</a
                        >
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
</section>
{% endblock %}