{% extends "base.html" %} 
{% load static %}
{% block head_content %}
<title>SOAC - Reclamos</title>
{% endblock %} 
{% block body %}
<section class="container-fluid p-5">
	
	<h1 class="text-dark display-2 text-center mb-5 bold" style='font-weight: bolder'>Reclamos</h1>
    <article class='p-3 bg-lightblue card mt-5'>

        <form action="{% url 'claims' %}" method="POST">
            {% csrf_token %}
            <div class="form-row d-flex justify-content-around">
                <div class="col-3 w-25 mx-1 form-group">
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Usuario"
                        name="by"
                        value="{{values.by}}"
                    />
                </div>
                <div class="col-3 w-25 mx-1 form-group">
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Organizacion"
                        name="org_name"
                        value="{{values.org_name}}"
                    />
                </div>
                <div class="col-3 w-25 mx-1 form-group">
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Observacion"
                        name="observation"
                        value="{{values.observation}}"
                    />
                </div>
                <div class'col-3 w-25 mx-1 form-group'>
                    <select
					    name="state"
					    class="form-control form-select">
						<option selected value="">Estado</option>
						<option value="abierto">Abierto</option>
						<option value="resuelto">Resuelto</option>
						<option value="rechazado">Rechazado</option>
				    </select>
                </div>
            </div>
    
            <div class="form-row d-flex justify-content-around my-3">
                <div class="col-3 form-group">
                    <a
                        class="form-control btn btn-success mb-3"
                        href="{% url 'claims_report' %}"
                        role="button"
                        >Exportar</a
                    >
                </div>
                <div class="col-3 form-group">
                    <a
                        class="form-control btn btn-primary-dark mb-3"
                        href="{% url 'claims' %}"
                        role="button"
                        >Limpiar filtros</a
                    >
                </div>
                <div class="col-3 form-group">
                    <button
                        class="btn btn-primary-dark px-3 mb-3 form-control"
                        type="submit"
                    >
                        Buscar
                    </button>
                </div>
            </div>
        </form>

        <table class="table text-dark">
            <thead>
                <tr>
                    <th scope="col">Creacion</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Observacion</th>
                    <th scope="col">Organizacion</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for e in claims %}
                <tr>
                    <td style="min-width:120px">{{e.created | date:"d-m-Y"}}</td>
                    <td>{{e.by}}</td>
                    <td style="max-height:50px; max-width:200px">{{e.category}}</td>
                    <td style="max-height:50px; max-width:200px">{{e.observation}}</td>
                    <td>{{e.org_name}}</td>
                    <td>{{e.state}}</td>
                    <td>
                        <a
                            class="btn btn-primary-dark"
                            href="/claim/{{e.id}}/"
                            role="button"
                            >Ver</a
                        >
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
</section>
{% endblock %}