{% extends "base.html" %} {% block head_content %}
<title>SOAC - Visita</title>
{% endblock%} {% block body %}
<article class="container d-flex flex-column text-dark p-5">
	<h1 class="text-dark display-2 text-center mb-3">ID de reclamo: {{ claim.id }}</h1>
	<h3 class="text-center">{{ visit.date | date:"d-m-Y"}}</h3>

    <div class="bg-lightblue text-dark card p-3 ">
		<table class="text-dark table w-100 ">
			<tr class="mb-3">
				<td><strong>Creado:</strong></td>
				<td class="py-3 text-end">{{ claim.created | date:"d-m-Y" }}</td>
			</tr>
			<tr class="py-3">
				<td><strong>Organizacion:</strong></td>
				<td class="py-3 text-end">{{ claim.org_name  }}</td>
			</tr>
            <tr class="py-3">
				<td><strong>Observacion:</strong></td>
				<td class="py-3 text-end">{{ claim.observation  }}</td>
			</tr>
			<tr class="py-3">
				<td><strong>Usuario:</strong></td>
				<td class="py-3 text-end">{{ claim.by  }}</td>
			</tr>
			<tr class="py-3">
				<td><strong>Estado:</strong></td>
				<td class="py-3 text-end">{{ claim.state }}</td>
			</tr>
		</table>
	</div>
	{% if level == 'central' or level == 'admin' %}
    <div class="d-flex justify-content-around mt-5">
		<a
			href="#"
			class="w-25 text-decoration-none btn btn-danger"
			id="dropdownUser1"
			data-bs-toggle="dropdown"
			aria-expanded="false"
			>Eliminar
		</a>
		<ul
			class="dropdown-menu dropdown-menu-light text-small shadow"
			aria-labelledby="dropdownUser1"
		>
			<li>
				<p class="text-center">¿Esta segurx?</p>
			</li>
			<li><hr class="dropdown-divider" /></li>
			<li>
				<a class="text-center dropdown-item text-danger" href="delete/"
					>Si</a
				>
			</li>
			<li>
				<a class="text-center dropdown-item text-dark" href=""
					>No</a
				>
			</li>
		</ul>
		<a class="btn w-25 btn-primary-dark" href="modify/" role="button"
			>Modificar</a
		>
	</div>
	{% endif %}
</article>

{% endblock %}
