{% extends "base.html" %} 
{% load static %}
{% block head_content %}
<title>SOAC - Modificación de organizacion: {{ old.name }}</title>
<link rel="stylesheet" href="{% static 'css/multiselect/style.css' %}">
<link rel="stylesheet" href="{% static 'css/multiselect/bootstrap-select.min.css' %}">
{% endblock%} {% block body %}
<article class="container d-flex flex-column text-dark p-5">
	
	<h1 class="text-dark display-2 text-center mb-5 bold" style='font-weight: bolder'>Reclamo multiple</h1>
	<form
		autocomplete="off"
		action="{% url 'multipleclaim' %}"
		class="bg-lightblue card d-flex justify-content-center py-3"
		method="POST"
	>
		{% csrf_token %}
		<div class="form-group my-2 mx-auto w-75">
				<label class="text-dark">Organizaciones</label>
				<div class="">
					<div class="justify-content-center">
						<div style='color:#333 !important' class="">
							<select name='orgs' class="selectpicker form-control" multiple="multiple" data-max-options="5000">
								{% for o in orgs %}
									<option style='color:#333 !important' value="{{o.id}}">{{o.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>  
				</div>
			</div>
			<div class="form-group my-2 mx-auto w-75">
				<label class="text-dark">Categoria</label>
				<select
					class="form-control form-select"
					name="category"
					required="true">
					<option selected value="Asesoramiento ROAC">Asesoramiento ROAC</option>
					<option selected value="Economico">Economico</option>
					<option selected value="Asesoramiento programas / financiamiento / subsidios">Asesoramiento programas / financiamiento / subsidios</option>
					<option selected value="Ayuda puesta en valor institucion">Ayuda puesta en valor institucion</option>
					<option selected value="Insumos">Insumos</option>
					<option selected value="Arreglos y puesta en valor del espacio circundante a la institucion">Arreglos y puesta en valor del espacio circundante a la institucion</option>
				</select>
			</div>
			<div class="form-group my-2 mx-auto w-75">
				<label class="text-dark">Observaciones</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Ej: Faltan dos PCs"
					name="observation"
					required="true"
					maxlength='200'
					class="form-control"
				/>
			</div>
            <div class="form-group my-2 mx-auto w-75">
				<label class="text-dark">Estado de reclamo</label>
				<select
					name="state"
					required="true"
					class="form-control form-select">
						<option selected value="abierto">Abierto</option>
						<option value="resuelto">Resuelto</option>
						<option value="rechazado">Rechazado</option>
				</select>
			</div>
		</div>
        <div class="form-group mt-3 d-flex w-50 mx-auto">
            <button
                class="btn btn-primary-dark btn-block w-100 form-control"
                type="submit"
            >
                Reclamar
            </button>
        </div>
	</form>
	{% if error %}
	<div class="d-flex justify-content-center">
		<div class="msg msg-danger"> {{ error }}</div>
	</div>
	{% endif %}
</article>
<script src="{% static 'js/multiselect/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/multiselect/popper.min.js' %}"></script>
<script src="{% static 'js/multiselect/bootstrap.min.js' %}"></script>
<script src="{% static 'js/multiselect/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/multiselect/main.js' %}"></script>
{% endblock %}
