{% extends "base.html" %} {% load static %} {% block head_content %}
<title>SOAC - Generando acta de visita: {{ visit.id }}</title>
<link rel="stylesheet" href="{% static 'css/multiselect/style.css' %}">
<link rel="stylesheet" href="{% static 'css/multiselect/bootstrap-select.min.css' %}">
{% endblock%} {% block body %}
<article class="container d-flex flex-column text-dark p-5">
	
	<h1 class="text-dark display-2 text-center mb-5 bold" style='font-weight: bolder'>Acta de visita: {{ visit.id }} </h1>
	<form class="mt-3" autocomplete="off" action="{% url 'create_act' visit.id %}" method="POST">
	{% csrf_token %}
	<section
		class="bg-lightblue card py-3"
	>
		<h2 class='block text-center'>Acta</h2>
		<div class='form-row d-flex justify-content-around mb-3'>
			<div class="form-group col-md-5">
				<label class="text-dark">Agente</label>
				<input
					autocomplete="off"
					type="text"
					placeholder=""
					name="agent"
					required="true"
					maxlength='50'
					class="form-control"
				/>
			</div><div class="form-group col-md-5">
				<label class="text-dark">Tipo de vinculacion con el GCBA</label>
				<select
					class="form-control form-select"
					name="links"
					required="true">
					<option selected value="No existe">No existe</option>
					<option value="Vinculo eventual - Administrativo, financiero / cobro de subsidios">Vinculo eventual - Administrativo, financiero / cobro de subsidios</option>
					<option value="Vinculo estrecho - Participacion en actividades, desarrollo de programas GCBA, entrega de bolsones y apoyo social, vinculo constante con funcionarios">Vinculo estrecho - Participacion en actividades, desarrollo de programas GCBA, entrega de bolsones y apoyo social, vinculo constante con funcionarios</option>
				</select>
			</div>
		</div>
		<div class='form-row d-flex justify-content-around mb-3'>
			<div class="form-group col-md-5">
				<label class="text-dark">Receptor de la visita</label>
				<input
					autocomplete="off"
					type="text"
					placeholder=""
					name="receptor_name"
					required="true"
					maxlength='200'
					class="form-control"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-dark">Cargo del receptor</label>
				<select
					class="form-control form-select"
					name="receptor_charge"
					required="true">
					<option selected value="Presidente">Presidente</option>
					<option value="Trabajadores / voluntarios">Trabajadores / voluntarios</option>
					<option value="Miembro de la direc. comitiva">Miembro de la direc. comitiva</option>
				</select>
			</div>
		</div>
		<div class='form-row d-flex justify-content-around mb-3'>
			<div class="form-group col-md-5">
				<label class="text-dark">Cantidad de socios de la org.</label>
				<input
					autocomplete="off"
					type="number"
					name="partners"
					required="true"
					maxlength='200'
					class="form-control"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-dark">Cantidad de beneficiarios de la org.</label>
				<select
					class="form-control form-select"
					name="beneficiaries"
					required="true">
					<option selected value="Menos de 50 personas">Menos de 50 personas</option>
					<option value="50 - 100 personas">50 - 100 personas</option>
					<option value="100 - 150 personas">100 - 150 personas</option>
					<option value="150 - 200 personas">150 - 200 personas</option>
					<option value="Mas de 200 personas">Mas de 200 personas</option>
				</select>
			</div>
		</div>
		<div class='form-row d-flex justify-content-around mb-3'>
			<div class="form-group col-md-5">
				<label class="text-dark">¿Reciben subsidios del GCBA?</label>
				<select
					name="subsidies"
					class="form-control form-select"
				>
					<option selected value="No">No</option>
					<option value="Si">Si</option>
				</select>
			</div>
			<div class="form-group col-md-5">
				<label class="text-dark">Si reciben subsidios ¿de que area?</label>
				<select
					class="form-control form-select"
					name="subsidies_what"
					required="true">
					<option selected value="No existe">No aplica</option>
					<option value="Comuna">Comuna</option>
					<option value="DG Relaciones con la comunidad">DG Relaciones con la comunidad</option>
					<option value="Ministerio de Desarrollo Humano y Habitat">Ministerio de Desarrollo Humano y Habitat</option>
					<option value="Ministerio de Cultura">Ministerio de Cultura</option>
					<option value="Tercera Edad">Tercera Edad</option>
					<option value="Secretaria de deportes">Secretaria de deportes</option>
				</select>
			</div>
		</div>
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-dark">Tareas que realizan</label>
				<select name="tasks" class="selectpicker form-control form-select" multiple="multiple" data-max-options="5000">
					<option value="Actividades deportivas">Actividades deportivas</option>
					<option value="Actividades y talleres culturales">Actividades y talleres culturales</option>
					<option value="Talleres para la tercera edad">Talleres para la tercera edad</option>
					<option value="Promocion de derechos">Promocion de derechos</option>
					<option value="Entrega de comida y/o bolsones">Entrega de comida y/o bolsones</option>
					<option value="Perchero solidario">Perchero solidario</option>
					<option value="Apoyo escolar">Apoyo escolar</option>
					<option value="Hogar">Hogar</option>
					<option value="Cursos y capacitaciones">Cursos y capacitaciones</option>
					<option value="Juegoteca">Juegoteca</option>
					<option value="Asistencia y asesoramiento a personas en situacion de vulnerabilidad">Asistencia y asesoramiento a personas en situacion de vulnerabilidad</option>
					<option value="Asistencia y asesoramiento a personas en situacion de vulnerabilidad">Asistencia y asesoramiento a personas en situacion de vulnerabilidad</option>
					<option value="Puesta en valor de historia barrial">Puesta en valor de historia barrial</option>
					<option value="Huertas">Huertas</option>
				</select>
			</div>
            <div class="form-group col-md-5">
				<label class="text-dark">Fecha de visita</label>
				<input
					disabled	
					type="date"
                    pattern="dd-mm-yy"
					value="{{visit.date}}"
					class="form-control disabled"
				/>
			</div>
		</div>
	</section>

	<section
		class="bg-lightblue card py-3 my-5"
	>
		{% csrf_token %}
		<h2 class='block text-center'>Reclamo</h2>
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-3">
				<label class="text-dark">Categoria</label>
				<select
					class="form-control form-select"
					name="category"
					required="true">
					<option selected value=""></option>
					<option  value="Aesoramiento ROAC">Aesoramiento ROAC</option>
					<option selected value="Economico">Economico</option>
					<option selected value="Asesoramiento programas / financiamiento / subsidios">Asesoramiento programas / financiamiento / subsidios</option>
					<option selected value="Ayuda puesta en valor institucion">Ayuda puesta en valor institucion</option>
					<option selected value="Insumos">Insumos</option>
					<option selected value="Arreglos y puesta en valor del espacio circundante a la institucion">Arreglos y puesta en valor del espacio circundante a la institucion</option>
				</select>
			</div>
			<div class="form-group col-md-3">
				<label class="text-dark">Observaciones</label>
				<input
					autocomplete="off"
					type="text"
					name="observation"
					maxlength='200'
					class="form-control"
				/>
			</div>
            <div class="form-group col-md-3">
				<label class="text-dark">Estado de reclamo</label>
				<select
					name="state"
					class="form-control form-select"
					value="{{values.state}}" >
						<option selected value="abierto">Abierto</option>
						<option value="resuelto">Resuelto</option>
						<option value="rechazado">Rechazado</option>
				</select>
			</div>
		</div>
	</section>
	<div class="d-flex justify-content-center mb-3">
		<button class="btn btn-primary-dark px-5" type="submit">
			Generar
		</button>
	</div>
	</form>
	{% if error %}
	<div class="d-flex justify-content-center">
		<div class="msg msg-danger"> {{ error }}</div>
	</div>
	{% endif %}
</article>

<script src="{% static 'js/multiselect/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/multiselect/popper.min.js' %}"></script>
<script src="{% static 'js/multiselect/bootstrap.min.js' %}"></script>
<script src="{% static 'js/multiselect/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/multiselect/main.js' %}"></script>

{% endblock %}
