{% extends "base.html" %} {% block head_content %}
<title>SOAC - Acta de visita: {{ visit.id }}</title>
{% endblock%} {% block body %}
<article class="container d-flex flex-column text-dark p-5">
	
	<h1 class="text-dark display-2 text-center mb-5">Acta de visita: {{ visit.id }} ({{visit.date}}) </h1>
	
	<section
		class="bg-lightblue card py-3"
	>
	<table class="text-dark table w-100 ">
		<tr class="py-3">
			<td><strong>Fecha de visita:</strong></td>
			<td class="py-3 text-end">{{ visit.date }}</td>
		</tr>
		<tr class="py-3">
			<td><strong>Agente:</strong></td>
			<td class="py-3 text-end">{{ act.agent }}</td>
		</tr>
		<tr class="py-3">
			<td><strong>Receptor:</strong></td>
			<td class="py-3 text-end">{{ act.receptor_name }}</td>
		</tr>
		<tr class="py-3">
			<td><strong>Cargo del receptor:</strong></td>
			<td class="py-3 text-end">{{ act.receptor_charge }}</td>
		</tr>
		<tr class="py-3">
			<td><strong>Cantidad de socios:</strong></td>
			<td class="py-3 text-end">{{ act.partners }}</td>
		</tr>
		<tr class="py-3">
			<td><strong>Cantidad de beneficiarios:</strong></td>
			<td class="py-3 text-end">{{ act.beneficiaries }}</td>
		</tr>
		<tr class="py-3">
			<td><strong>Fecha de creacion:</strong></td>
			<td class="py-3 text-end">{{ act.created }}</td>
		</tr>
		<tr class="py-3">
			<td><strong>Tareas que realizan:</strong></td>
			<td class="py-3 text-end">{{ act.tasks }}</td>
		</tr>
		<tr class="py-3">
			<td><strong>Reciben subsidios del GCBA:</strong></td>
			<td class="py-3 text-end">{{ act.subsidies }}</td>
		</tr>
		<tr class="py-3">
			<td><strong>Area de la cual reciben subsidios:</strong></td>
			<td class="py-3 text-end">{{ act.subsidies_what }}</td>
		</tr>
		<tr class="py-3">
			<td><strong>Tipo de vinculos que tienen con el GCBA:</strong></td>
			<td class="py-3 text-end">{{ act.links }}</td>
		</tr>
		<tr class="py-3">
			<td><strong>Observacion del reclamo en visita:</strong></td>
			<td class="py-3 text-end">{{ claim.observation }}</td>
		</tr>
		<tr class="py-3">
			<td><strong>Estado del reclamo en visita:</strong></td>
			<td class="py-3 text-end">{{ claim.state }}</td>
		</tr>
	</table>
		
	</section>
	{% if error %}
	<div class="d-flex justify-content-center">
		<div class="msg msg-danger"> {{ error }}</div>
	</div>
	{% endif %}
</article>

{% endblock %}
