{% extends "base.html" %} 
{% load static %}
{% block head_content %}
<title>SOAC - Visitas</title>
<link href="{% static 'css/fullcalendar/main.min.css' %}" rel='stylesheet' />
<script src="{% static 'js/fullcalendar/main.min.js' %}"></script>
<script src="{% static 'js/fullcalendar/locales-all.min.js' %}"></script>

<script>
	var date = new Date()
	var d = date.getDate(),
		m = date.getMonth(),
		y = date.getFullYear()

	document.addEventListener('DOMContentLoaded', function() {
		var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
		initialView: 'dayGridMonth',
		scrollTime: '07:00:00',
		navLinks: 'True',
		locale: 'es',
		nowIndicator: 'True',
		themeSystem: 'Flatly',
		headerToolbar: {
			left: 'prev,next,today',
			center: 'title',
			right: 'timeGridDay,timeGridWeek,dayGridMonth'
		},

		events: [
			{% for e in visit %}
				{
					title: '{{e.org_name}}',
					start: '{{e.date}}T{{e.hour}}',
					extendedProps: {
                        id: '{{e.id}}',
						type: 'visit',
					},
                    {% if e.hour != '00:00:00' %}
                    allDay: false,
                    {% else %}
                    allDay: true,
                    {% endif %}
					backgroundColor: '#198754',
					borderColor: '#198754',
					url: '{% url 'visit' e.id %}',
				},
			{% endfor %}
		],
        });


        calendar.render();
	})
</script>

{% endblock %} 
{% block body %}
<section class="container-fluid p-5">
	<a href="javascript: history.go(-1)"
	><svg
		xmlns="http://www.w3.org/2000/svg"
		width="32"
		height="32"
		fill="currentColor"
		class="bi bi-arrow-left-circle mt-1"
		viewBox="0 0 16 16"
	>
		<path
			fill-rule="evenodd"
			d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
		/></svg
	></a>
	<h1 class="text-dark display-2 text-center mb-5">Visitas</h1>
    {% if level == 'central' or level == 'admin' %}
        <article class="row bg-blue justify-content-between">
            <div class="bg-lightblue card col-8 ">
                <div class='' id="calendar"></div>
            </div>
            <div class='col-4 card bg-lightblue h-100'>
                <form class="mt-3" autocomplete="off" action="{% url 'visits' %}" method="POST">
                    {% csrf_token %}
                    <div class="d-flex flex-column justify-content-around mb-3">
                        <label class="text-dark">Fecha: *</label>
                        <input
                            autocomplete="off"
                            class="form-control mb-3"
                            type="date"
                            placeholder="Fecha"
                            name="date"
                            required="true"
                        />
                        <label class="text-dark">Hora: *</label>
                        <input
                            autocomplete="off"
                            class="form-control mb-3"
                            type="time"
                            placeholder="Hora"
                            name="hour"
                            value="00:00:00"
                            required="true"
                            /> 
                        <label class="text-dark">Observaciones: </label>
                        <textarea 
                        maxlength='60' 
                        name='observation' 
                        class="form-control mb-3" 
                        id="exampleFormControlTextarea1" 
                        rows="3"></textarea>
                        <label class="text-dark">Organizacion: </label>
                        <select
                            class="form-control mb-3"
                            name="org"
                            required="true">
                            {% for o in orgs %}
                                <option value="{{o.id}}">{{o.name}}</option>
                            {% endfor %}
                        </select>
                        <button
                            class="btn btn-primary-dark btn-block form-control mb-3"
                            type="submit"
                        >
                            Registrar
                        </button>
                    </div>
                </form>
            </div>
        </article>
    {% else %}
        <article class="row bg-blue justify-content-between">
            <div class="bg-lightblue card col ">
                <div class='' id="calendar"></div>
            </div>
        </article>
    {% endif %}
    <article class='p-3 bg-lightblue card mt-5'>
        <table class="table text-dark">
            <thead>
                <tr>
                    <th scope="col">Creacion</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Observacion</th>
                    <th scope="col">Observacion</th>
                    <th scope="col"></th
                </tr>
            </thead>
            <tbody>
                {% for e in visit %}
                {% if e.date > today %}
                <tr>
                    <td>{{e.created}}</td>
                    <td>{{e.date}}</td>
                    <td>{{e.org_name}}</td>
                    {% if e.hour != '00:00:00' %}
                    <td>{{e.hour}}</td>
                    {% else %}
                    <td>Todo el dia</td>
                    {% endif %}
                    <td>{{e.observation}}</td>
                    <td>
                        <a
                        class="btn btn-primary-dark"
                        href="{% url 'visit' e.id %}"
                        role="button"
                        target="_blank"
                        >Ver</a
                        >
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </article>
</section>
{% endblock %}