{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		{% block head_content %}{% endblock %}

		<!-- Bootstrap CSS v5.0.2 -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<!-- Extras -->
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
		<link rel="shortcut icon" href="{% static 'img/favicon.jpg' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'img/favicon.jpg' %}" type="image/x-icon">
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap"
			rel="stylesheet"
		/>
		<title>Organizacion:{{ org.name }}</title>

		<style>
			td {
				padding-bottom: 1em;
			  }
			p{
				font-size:16px;
			} 
		</style>
		
	</head>
<body style="font-family: 'Montserrat'">
    <header>
        <div>
            <h2 style='font-size:24px; font-weight:300'>{{org.name}}</h2>
			<hr />
        </div>
        <div>
        </div>
    </header>
    <main>
		<table class="text-dark table w-100 ">
			<tr class="py-3">
				<td><p><strong> ID: </strong> {{ org.id }}</p></td>
				<td class="py-3 text-end"><p><strong> Número de contacto: </strong> {{ org.mobile }}</p></td>
			</tr>
			<tr class="mb-3">
				<td><p><strong> ROAC: </strong> {{ org.roac }}</p></td>
				<td><p><strong> Numero ROAC: </strong> {{ roac_number }}</p></td>
			</tr>
			<tr class="py-3">
				<td><p><strong> Tipo: </strong> {{ org.type }}</p></td>
				<td class="py-3 text-end"><p><strong> Fecha de inscripcion a "SOAC": </strong> {{ org.created | date:"d-m-Y" }}</p></td>
			</tr>
			<tr class="py-3">
				<td><p><strong> Público: </strong> {{ org.public }}</p></td>
				<td class="py-3 text-end"><p><strong> Correo electronico: </strong> {{ org.email }}</p></td>
			</tr>
			<tr class="py-3">
				<td><p><strong> Áreas: </strong> {{ org.areas }}</p></td>
				<td class="py-3 text-end"><p><strong> Inscripta en IGJ: </strong>{{ org.igj }}</p></td>
			</tr>
			<tr class="py-3">
				<td><p><strong> Dirección: </strong> {{ org.address }}</p></td>
				<td class="py-3 text-end"><p><strong> Departamento: </strong> {{ org.dpto }}</p></td>
			</tr>
			<tr class="py-3">
				<td><p><strong> código postal: </strong> {{ org.postal_code }}</p></td>
				<td class="py-3 text-end"><p><strong> Barrio: </strong> {{ org.nhood }}</p></td>
			</tr>
			<tr class="py-3">
				<td><p><strong> Comuna: </strong> {{ org.commune }}</p></td>
				<td class="py-3 text-end"><p><strong> Dominio: </strong> {{ org.domain }}</p></td>
			</tr>
			
			{% if org.roac == 'Si' and org.state == 'Activa'%}
			<tr class="py-3">
				<td><p><strong> Fecha de inscripción a "ROAC": </strong> {{ org.enrolled | date:"d-m-Y" }}</p></td>
				<td class="py-3 text-end"><p><strong> Fecha de renovación: </strong> {{ org.renoved | date:"d-m-Y" }}</p></td>
			</tr>
			<tr class="py-3">
				<td><p><strong> Fecha de vencimiento: </strong> {{ org.expiration | date:"d-m-Y" }}</p></td>
				<td class="py-3 text-end"><p><strong> Fecha de ultima modificación: </strong> {{ org.modified | date:"d-m-Y" }}</p></td>
			</tr>
			{% endif %}

		</table>
    </main>
    </body>
</html>