{% extends "base.html" %} {% block head_content %}{% load static %}
<title>SOAC - {{ name }}</title>
{% endblock%} {% block body %}
<article class="container d-flex flex-column text-dark p-5">
	<h1 class="text-dark display-2 text-center mb-5 bold" style='font-weight: bolder'>{{ name }}</h1>
	<div class="d-flex container justify-content-around mb-5"
	>
	{% if level == 'Central' or level == 'admin' %}
		<a
			href="#"
			class=" text-decoration-none btn btn-danger"
			id="dropdownUser1"
			data-bs-toggle="dropdown"
			aria-expanded="false"
			>Eliminar
		</a>
		<ul
			class="dropdown-menu dropdown-menu-light text-small shadow"
			aria-labelledby="dropdownUser1"
		>
			<li>
				<p class="text-center">¿Esta seguro?</p>
			</li>
			<li><hr class="dropdown-divider" /></li>
			<li>
				<a class="text-center dropdown-item text-danger" href="delete/"
					>Si</a
				>
			</li>
			<li>
				<a class="text-center dropdown-item" href="profile/{{id}}/"
					>No</a
				>
			</li>
		</ul>
	{% endif %}
	{% if level == 'Central' or level == 'admin' %}
		{% if  roac == 'Si' %}
		<a
			href="down/"
			class=" text-decoration-none btn btn-danger"
			>Dar de baja
		</a>
		{% endif %}
	{% endif %}
		<a
			href="#"
			class=" text-decoration-none btn btn-success"
			id="dropdownUser1"
			data-bs-toggle="dropdown"
			aria-expanded="false"
			>Exportar
		</a>
		<ul
			class="dropdown-menu dropdown-menu-light text-small shadow"
			aria-labelledby="dropdownUser1"
		>
			<li>
				<a class="text-center dropdown-item" href="org_report/"
					>Excel</a
				>
			</li>
			<li><hr class="dropdown-divider" /></li>
			<li>
				<a class="text-center dropdown-item" target='_blank' href="org_pdf/"
					>PDF</a
				>
			</li>
		</ul>
		<a class="btn btn-primary-dark" href="setupclaim/" role="button"
			>Crear reclamo</a
		>
	{% if level == 'Central' or level == 'admin' %}
		<a class="btn btn-primary-dark" href="modify/" role="button"
			>Modificar</a
		>
	{% endif %}
	{% if state == 'No registrada' or state == 'A editar' or state == 'Suspendida' %}
		<a class="btn btn-primary-dark" href="register/" role="button">Registrar</a>	
	{% endif %}
	{% if state == 'Preactiva' or state == 'Activa' or state == 'A firmar'%}
		<a class="btn btn-primary-dark" target="_blank" href="/media/{{doc}}">Ver documentacion</a>
	{% endif %}
	{% if level == 'Central' or level == 'admin' %}
		{% if  roac == 'Si' %}
		<a
			target="_blank"
			href="/media/{{certificate}}"
			class=" text-decoration-none btn btn-primary-dark"
			>Ver certificado
		</a>
		{% endif %}
	{% endif %}
	</div>
	<div class="d-flex text-dark justify-content-around mb-5">
		<h5><strong> Id: </strong> {{ id }}</h5>
		<h5><strong> "ROAC": </strong>{{ roac }}</h5>
		{% if roac_number != '' %}
		<h5><strong> Numero de "ROAC": </strong>{{ roac_number }}</h5>
		{% endif %}
	</div>
	<div class="container">
		<div class='row mb-3'>
			<div class='col'>
				<div class="card bg-lightblue">
					<div class="card-header-dark text-center">
						<h5>Datos</h5>
					</div>
					<div class="card-body">
						<p><strong> Tipo: </strong> {{ type }}</p>
						<p><strong> Público: </strong> {{ public }}</p>
						<p><strong> Áreas: </strong> {{ areas }}</p>
					</div>
				</div>
			</div>
			<div class='col'>
				<div class="card bg-lightblue">
				<div class="card-header-dark text-center">
			  <h5>Contacto</h5>
			</div>
			<div class="card-body">
				<p><strong> Número de contacto: </strong> {{ mobile }}</p>
				<p><strong> Correo electronico: </strong> {{ email }}</p>
			</div>
				</div>
			</div>
		</div>
		<div class='row mb-3'>
			<div class='col'>
				<div class="card bg-lightblue">
					<div class="card-header-dark text-center">
			  <h5>Inscripcion</h5>
			</div>
			<div class="card-body">
				<p><strong> Estado: </strong> {{ state }}</p>
					<p>
						<strong> Fecha de inscripcion a "SOAC": </strong> {{ created | date:"d-m-Y" }}
					</p>
					<p>
						<strong> Fecha de inscripción a "ROAC": </strong> {{ enrolled | date:"d-m-Y" }}
					</p>
					<p><strong> Fecha de renovación: </strong> {{ renoved | date:"d-m-Y" }}
					</p>
					<p>
						<strong> Fecha de vencimiento: </strong> {{expiration | date:"d-m-Y"}}
					</p>
					<p>
						<strong> Fecha de ultima modificación: </strong> {{ modified | date:"d-m-Y" }}
					</p>
					<p>
						<strong> Inscripta en IGJ: </strong>
						{{ igj }}
					</p>
			</div>
				</div>
			</div>
			<div class='col'>
				<div class="card bg-lightblue">
					<div class="card-header-dark text-center">
						<h5>Ubicacion</h5>
					</div>
					<div class="card-body">
						<p><strong> Dirección: </strong> {{ address }}</p>
						<p><strong> Departamento: </strong> {{ dpto }}</p>
						<p><strong> código postal: </strong> {{ postal_code }}</p>
						<p><strong> Barrio: </strong> {{ nhood }}</p>
						<p><strong> Comuna: </strong> {{ commune }}</p>
						<p><strong> Dominio: </strong> {{ domain }}</p>
					</div>
				</div>
			</div>
		</div>
		<div class='row mb-3'>
			<div class='col'>
				<div class="card bg-lightblue">
					<div class="card-header-dark text-center">
					<h5>Visitas pasadas</h5>
				</div>
				<div class="card-body" style='max-height: 300px; overflow-y: auto'>
					<table class="table text-dark">
						<thead>
							<tr>
								<th scope="col">Fecha</th>
								<th scope="col">Hora</th>
								<th scope="col">Observacion</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{% for e in visit %}
							{% if e.date < today %}
							<tr>
								<td>{{e.date | date:"d-m-Y"}}</td>
								<td>{{e.hour}}</td>
								<td style='max-height:50px; max-width:50px'>{{e.observation}}</td>
								<td>
									<a
									class="btn btn-primary-dark"
									href="{% url 'visit' e.id %}"
									role="button"
									target="_blank"
									>Ver</a
									>
								</td>
							</tr>
							{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
				</div>
			</div>
			<div class='col'>
				<div class="card bg-lightblue">
					<div class="card-header-dark text-center">
					<h5>Visitas pendientes</h5>
				</div>
				<div class="card-body" style='max-height: 300px; overflow-y: auto'>
					<table class="table text-dark">
						<thead>
							<tr>
								<th scope="col">Fecha</th>
								<th scope="col">Hora</th>
								<th scope="col">Observacion</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{% for e in visit %}
							{% if e.date > today %}
							<tr>
								<td>{{e.date | date:"d-m-Y"}}</td>
								<td>{{e.hour}}</td>
								<td style='max-height:50px; max-width:50px'>{{e.observation}}</td>
								<td>
									<a
									class="btn btn-primary-dark"
									href="{% url 'visit' e.id %}"
									role="button"
									target="_blank"
									>Ver</a
									>
								</td>
							</tr>
							{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
				</div>
			</div>
		</div>
		<div class='row mb-3'>
			<div class='col'>
				<div class="card bg-lightblue">
					<div class="card-header-dark text-center">
					<h5>Reclamos resueltos</h5>
				</div>
				<div class="card-body" style='max-height: 300px; overflow-y: auto' >
					<table class="table text-dark" >
							<thead>
								<tr>
									<th scope="col">Creacion</th>
									<th scope="col">Usuario</th>
									<th scope="col">Observacion</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
								{% for e in claims %}
								{% if e.state == 'resuelto' %}
								<tr>
									<td>{{e.created | date:"d-m-Y" }}</td>
									<td>{{e.by}}</td>
									<td style="max-height:100px; max-width:300px">{{e.observation}}</td>
									<td>
										<a
										class="btn btn-primary-dark"
										href="/claim/{{e.id}}/"
										role="button"
										>Ver</a
										>
									</td>
								</tr>
								{% endif %}
								{% endfor %}
							</tbody>
						</table>
				</div>
				</div>
			</div>
			<div class='col'>
				<div class="card bg-lightblue">
					<div class="card-header-dark text-center">
					<h5>Reclamos abiertos</h5>
				</div>
				<div class="card-body" style='max-height: 300px; overflow-y: auto'>
					<table class="table text-dark">
							<thead>
								<tr>
									<th scope="col">Creacion</th>
									<th scope="col">Usuario</th>
									<th scope="col">Observacion</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
								{% for e in claims %}
								{% if e.state == 'abierto' %}
								<tr>
									<td>{{e.created | date:"d-m-Y" }}</td>
									<td>{{e.by}}</td>
									<td style="max-height:100px; max-width:300px">{{e.observation}}</td>
									<td>
										<a
										class="btn btn-primary-dark"
										href="/claim/{{e.id}}/"
										role="button"
										>Ver</a
										>
									</td>
								</tr>
								{% endif %}
								{% endfor %}
							</tbody>
						</table>
				</div>
				</div>
			</div>
		</div>
</article>
{% endblock %}