{% extends "base.html" %} {% block head_content %}
<title>SOAC - Busqueda de organizaciónes</title>
{% endblock%} {% block body %}
<article class="container d-flex flex-column text-dark p-5">
	<h1 class="text-dark display-2 text-center mb-5 bold" style='font-weight: bolder'>Buscar Organización</h1>

	<form action="{% url 'orgs' %}" method="POST">
		{% csrf_token %}
		<div class="form-row d-flex justify-content-around">
			<div class="col mx-1 form-group">
				<input
					class="form-control"
					type="text"
					placeholder="Nombre"
					name="name"
					value="{{values.name}}"
				/>
			</div>
			<div class="col mx-1 form-group">
				<input
					class="form-control"
					type="text"
					placeholder="Dirección"
					name="address"
					value="{{values.address}}"
				/>
			</div>
			<div class="col mx-1 form-group">
				<select
					name="domain"
					class="form-control form-select"
					value="{{values.domain}}" >
						<option selected value="">Dominio</option>
						<option value="Alquiler">Alquiler</option>
						<option value="Propietario">Propietario</option>
						<option value="Cesion GCBA">Cesión de uso GCBA</option>
						<option value="Cesion Privado">Cesión de uso PRIVADO</option>
						<option value="Otra">Otra</option>
				</select>
			</div>
			<div class="col mx-1 form-group">
				<select
					name="nhood"
					class="form-control form-select"
					value="{{values.nhood}}" >

						<option selected value="">Barrio</option>
						<option value="Puerto Madero">Puerto Madero</option>
						<option value="Retiro">Retiro</option>
						<option value="San Nicolas">San Nicolas</option>
						<option value="Monserrat">Monserrat</option>
						<option value="Constitucion">Constitución</option>
						<option value="San Telmo">San Telmo</option>
						<option value="Recoleta">Recoleta</option>
						<option value="Balvanera">Balvanera</option>
						<option value="San Cristobal">San Cristobal</option>
						<option value="La Boca">La Boca</option>
						<option value="Barracas">Barracas</option>
						<option value="Parque Patricios">Parque Patricios</option>
						<option value="Nueva Pompeya">Nueva Pompeya</option>
						<option value="Almagro">Almagro</option>
						<option value="Boedo">Boedo</option>
						<option value="Caballito">Caballito</option>
						<option value="Parque Chacabuco">Parque Chacabuco</option>
						<option value="Flores">Flores</option>
						<option value="Villa Soldati">Villa Soldati</option>
						<option value="Villa Riachuelo">Villa Riachuelo</option>
						<option value="Villa Lugano">Villa Lugano</option>
						<option value="Mataderos">Mataderos</option>
						<option value="Parque Avellaneda">Parque Avellaneda</option>
						<option value="Liniers">Liniers</option>
						<option value="Velez Sarfield">Velez Sarfield</option>
						<option value="Villa Luro">Villa Luro</option>
						<option value="Floresta">Floresta</option>
						<option value="Monte Castro">Monte Castro</option>
						<option value="Villa Real">Villa Real</option>
						<option value="Versalles">Versalles</option>
						<option value="Villa General Mitre">Villa General Mitre</option>
						<option value="Villa Santa Rita">Villa Santa Rita</option>
						<option value="Villa del Parque">Villa del Parque</option>
						<option value="Villa Devoto">Villa Devoto</option>
						<option value="Villa Pueyrredon">Villa Pueyrredón</option>
						<option value="Villa Urquiza">Villa Urquiza</option>
						<option value="Saavedra">Saavedra</option>
						<option value="Coghlan">Coghlan</option>
						<option value="Nunez">Núñez</option>
						<option value="Belgrano">Belgrano</option>
						<option value="Colegiales">Colegiales</option>
						<option value="Palermo">Palermo</option>
						<option value="Agronomia">Agronomia</option>
						<option value="Paternal">Paternal</option>
						<option value="Chacarita">Chacarita</option>
						<option value="Villa Ortuzar">Villa Ortúzar</option>
						<option value="Villa Crespo">Villa Crespo</option>
						<option value="Barrio vulnerable">Barrio Vulnerable</option>
				</select>
			</div>
			<div class="col mx-1 form-group">
				<select name='commune' class="form-select">
					<option selected value="">Comuna</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
				  </select>
			</div>
		</div>

		<div class="form-row d-flex justify-content-around my-3">
			<div class="col mx-1 form-group">
				<select
					name="areas"
					class="form-control form-select"
					value="{{values.areas}}" >
						<option selected value="">Areas</option>
						<option value="Social">Social</option>
						<option value="Cultural">Cultural</option>
						<option value="Deportiva o recreativa">Deportiva o Reacreativa</option>
						<option value="Ambiente">Ambiente</option>
						<option value="Genero">Género</option>
						<option value="Diversidad">Diversidad</option>
						<option value="Discapacidad">Discapacidad</option>
						<option value="Educacion">Educación</option>
						<option value="Salud">Salud</option>
						<option value="Religion">Religión</option>
				</select>
			</div>
			<div class="col mx-1 form-group">
				<select name='igj' class="form-select">
					<option value="">iGJ</option>
					<option value="No">No</option>
					<option value="Si">Si</option>
				  </select>
			</div>
			<div class="col mx-1 form-group">
				<select
					name="type"
					class="form-control form-select"
					value="{{values.type}}" >
						<option selected value="">Tipo de org.</option>
						<option value="Fundacion">Fundación</option>
						<option value="Centro de jubilados y pensionados">Centro de Jubilados y Pensionados</option>
						<option value="Centro comunitario">Centro Comunitario</option>
						<option value="Centro o asociacion cultural">Centro o Asociación Barrio vulnerable</option>
						<option value="Comedor">Comedor</option>
						<option value="Asociacion de fomento">Asociación de Fomento</option>
						<option value="Club o asociacion deportiva">Club o Asociación Deportiva</option>
						<option value="Actor independiente">Actor Independiente</option>
				</select>
			</div>
			<div class="col mx-1 form-group">
				<select
					name="public"
					class="form-control form-select"
					value="{{values.public}}" >
						<option selected value="">Publico</option>
						<option value="na">No aclara</option>
						<option value="Ninez">Niñez</option>
						<option value="Adolescencia o juventud">Adolescencia o juventud</option>
						<option value="Tercera edad">Tercera edad</option>
						<option value="Familia">Familia</option>
						<option value="Mujer">Mujer</option>
				</select>
			</div>
			<div class="col mx-1 form-group">
				<select name='state' class="form-select">
					<option value="">Estado</option>
					<option value="No registrada">No registrada</option>
					<option value="Preactiva">Preactiva</option>
					<option value="A editar">A editar</option>
					<option value="A firmar">A firmar</option>
					<option value="Activa">Activa</option>
					<option value="Suspendida">Suspendida</option>
				  </select>
			</div>
		</div>
		<div
			class="
				form-check form-switch form-row
				d-flex
				justify-content-center
			"
		>
		</div>

		<div class="form-row d-flex justify-content-around my-3">
			<div class="col-3 form-group">
				<a
					class="form-control btn btn-success mb-3"
					href="{% url 'orgs_report' %}"
					role="button"
					>Exportar</a
				>
			</div>
			<div class="col-3 form-group">
				<a
					class="form-control btn btn-primary-dark mb-3"
					href="{% url 'orgs' %}"
					role="button"
					>Limpiar filtros</a
				>
			</div>
			<div class="col-3 form-group">
				<button
					class="btn btn-primary-dark px-3 mb-3 form-control"
					type="submit"
				>
					Buscar
				</button>
			</div>
		</div>
	</form>
	<div class="d-flex bg-lightblue px-5 py-3 card justify-content-center">
	<table class="table text-dark">
		<thead>
			<tr>
				<th scope="col">Nombre</th>
				<th scope="col">Comuna</th>
				<th scope="col">IGJ</th>
				<th scope="col">Estado</th>
				<th scope="col">"ROAC"</th>
				<th scope="col">Firmado</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for u in org %}
			<tr>
				<td>{{u.name}}</td>
				<td>{{u.commune}}</td>
				<td>{{u.igj}}</td>
				<td>{{u.state}}</td>
				<td>{{u.roac}}</td>
				<td>{{u.signed}}</td>
				<td>
					<a
						class="btn btn-primary-dark"
						href="org/{{u.id}}/"
						role="button"
						>Ver</a
					>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</article>

{% endblock %}
