{% extends "base.html" %} {% block head_content %}
<title>SOAC - Cargar organización</title>
{% endblock%} {% block body %}
<article class="container p-5">
	<h1 class="text-dark display-2 text-center mb-5 bold" style='font-weight: bolder'>Registrar organización en "ROAC"</h1>
	<form class="bg-lightblue card py-5" autocomplete="off" action="{% url 'roac' %}" method="POST">
		{% csrf_token %}

		<div class="form-row d-flex justify-content-around mb-3 ">
			<div class="form-group col-md-5">
				<label class="text-dark">Nombre *</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Ej: Por el arte hacia la vida"
					name="name"
					required="true"
					class="form-control"
					value="{{values.name}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-dark">Dominio</label>
				<select
					name="domain"
					required="true"
					class="form-control form-select"
					value="{{values.domain}}" >
						<option selected value="Alquiler">Alquiler</option>
						<option value="Propietario">Propietario</option>
						<option value="Cesion GCBA">Cesión de uso GCBA</option>
						<option value="Cesion Privado">Cesión de uso PRIVADO</option>
						<option value="Otra">Otra</option>
				</select>
			</div>
		</div>
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-dark">Calle y altura *</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Ej: Salcedo 2633"
					name="address"
					required="true"
					class="form-control"
					value="{{values.address}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-dark">Departamento *</label>
				<input
					autocomplete="off"
					type="text"
					maxlength="5"
					placeholder="Ej: PB"
					name="dpto"
					required="true"
					class="form-control"
					value="{{values.dpto}}"
				/>
			</div>
		</div>
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-dark">Barrio *</label>
				<select
					name="nhood"
					required="true"
					class="form-control form-select"
					value="{{values.nhood}}" >

						<option selected value="Puerto Madero">Puerto Madero</option>
						<option value="Retiro">Retiro</option>
						<option value="San Nicolas">San Nicolas</option>
						<option value="Monserrat">Monserrat</option>
						<option value="Constitucion">Constitución</option>
						<option value="San Telmo">San Telmo</option>
						<option value="Recoleta">Recoleta</option>
						<option value="Balvanera">Balvanera</option>
						<option value="San Cristobal">San Cristobal</option>
						<option value="La Boca">La Boca</option>
						<option value="Barracas">Barracas</option>
						<option value="Parque Patricios">Parque Patricios</option>
						<option value="Nueva Pompeya">Nueva Pompeya</option>
						<option value="Almagro">Almagro</option>
						<option value="Boedo">Boedo</option>
						<option value="Caballito">Caballito</option>
						<option value="Parque Chacabuco">Parque Chacabuco</option>
						<option value="Flores">Flores</option>
						<option value="Villa Soldati">Villa Soldati</option>
						<option value="Villa Riachuelo">Villa Riachuelo</option>
						<option value="Villa Lugano">Villa Lugano</option>
						<option value="Mataderos">Mataderos</option>
						<option value="Parque Avellaneda">Parque Avellaneda</option>
						<option value="Liniers">Liniers</option>
						<option value="Velez Sarfield">Velez Sarfield</option>
						<option value="Villa Luro">Villa Luro</option>
						<option value="Floresta">Floresta</option>
						<option value="Monte Castro">Monte Castro</option>
						<option value="Villa Real">Villa Real</option>
						<option value="Versalles">Versalles</option>
						<option value="Villa General Mitre">Villa General Mitre</option>
						<option value="Villa Santa Rita">Villa Santa Rita</option>
						<option value="Villa del Parque">Villa del Parque</option>
						<option value="Villa Devoto">Villa Devoto</option>
						<option value="Villa Pueyrredon">Villa Pueyrredón</option>
						<option value="Villa Urquiza">Villa Urquiza</option>
						<option value="Saavedra">Saavedra</option>
						<option value="Coghlan">Coghlan</option>
						<option value="Nunez">Núñez</option>
						<option value="Belgrano">Belgrano</option>
						<option value="Colegiales">Colegiales</option>
						<option value="Palermo">Palermo</option>
						<option value="Agronomia">Agronomia</option>
						<option value="Paternal">Paternal</option>
						<option value="Chacarita">Chacarita</option>
						<option value="Villa Ortuzar">Villa Ortúzar</option>
						<option value="Villa Crespo">Villa Crespo</option>
						<option value="Barrio vulnerable">Barrio Vulnerable</option>
				</select>
			</div>
			<div class="form-group col-md-5">
				<label class="text-dark">Comuna *</label>
				<select name='commune' class="form-select">
					<option selected value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
				  </select>
			</div>
		</div>
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-dark">Áreas *</label>
				<select
					name="areas"
					required="true"
					class="form-control form-select"
					value="{{values.areas}}" >
						<option selected value="Social">Social</option>
						<option value="Cultural">Cultural</option>
						<option value="Deportiva o recreativa">Deportiva o Reacreativa</option>
						<option value="Ambiente">Ambiente</option>
						<option value="Genero">Género</option>
						<option value="Diversidad">Diversidad</option>
						<option value="Discapacidad">Discapacidad</option>
						<option value="Educacion">Educación</option>
						<option value="Salud">Salud</option>
						<option value="Religion">Religión</option>
				</select>
			</div>
			<div class="form-group col-md-5">
				<label class="text-dark">Código postal</label>
				<input
					autocomplete="off"
					type="text"
					maxlength="5"
					placeholder="Ej: 1405"
					name="postal_code"
					class="form-control"
					value="{{values.postal_code}}"
				/>
			</div>
		</div>
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-dark">Tipo de organización *</label>
				<select
					name="type"
					required="true"
					class="form-control form-select"
					value="{{values.type}}" >
						<option selected value="Fundacion">Fundación</option>
						<option value="Centro de jubilados y pensionados">Centro de Jubilados y Pensionados</option>
						<option value="Centro comunitario">Centro Comunitario</option>
						<option value="Centro o asociacion cultural">Centro o Asociación Barrio vulnerable</option>
						<option value="Comedor">Comedor</option>
						<option value="Asociacion de fomento">Asociación de Fomento</option>
						<option value="Club o asociacion deportiva">Club o Asociación Deportiva</option>
						<option value="Actor independiente">Actor Independiente</option>
				</select>
			</div>
			<div class="form-group col-md-5">
				<label class="text-dark">Tipo de público</label>
				<select
					name="public"
					required="true"
					class="form-control form-select"
					value="{{values.public}}" >
						<option selected value="na">No aclara</option>
						<option value="Ninez">Niñez</option>
						<option value="Adolescencia o juventud">Adolescencia o juventud</option>
						<option value="Tercera edad">Tercera edad</option>
						<option value="Familia">Familia</option>
						<option value="Mujer">Mujer</option>
				</select>
			</div>
		</div>
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-dark">Inscripta en IGJ</label>
				<select
					aria-label="Default select example"
					name="igj"
					class="form-control form-select"
				>
					<option value="No">No</option>
					<option value="Si">Si</option>
				</select>
			</div>
			<div class="form-group col-md-5">
				<label class="text-dark text-center">Email *</label
				><input
					autocomplete="off"
					class="form-control"
					type="email"
					placeholder="ejemplo@buenosaires.gob"
					required="true"
					name="email"
					value="{{values.email}}"
				/>
			</div>
		</div>
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-dark text-center">Número de contacto</label>
				<input
					autocomplete="off"
					type="text"
					pattern="\d*"
					maxlength="25"
					placeholder="Ej: 111234-1234"
					name="mobile"
					class="form-control"
					value="{{values.mobile}}"
				/>
			</div>
			<div class="form-group col-md-5 d-flex flex-column justify-content-end align-items-end">
				<button
					class="btn btn-primary-dark btn-block form-control"
					type="submit"
				>
					Cargar
				</button>
			</div>
		</div>
	</form>
	{% if error %}
	<div class="d-flex justify-content-center">
		<div class="msg msg-danger"> {{ error }}</div>
	</div>
	{% endif %} {% if alert %}
	<div class="d-flex justify-content-center">
		<div class="msg msg-primary mt-3"> {{ alert }}</div>
	</div>
	{% endif %}
</article>
{% endblock %}
