{% extends "base.html" %} {% block head_content %}
<title>SOAC - Usuario: {{ username }}</title>
{% endblock%} {% block body %}
<article class="container d-flex flex-column text-light p-5">
	<a href="javascript: history.go(-1)"
	><svg
		xmlns="http://www.w3.org/2000/svg"
		width="32"
		height="32"
		fill="currentColor"
		class="bi bi-arrow-left-circle mt-1"
		viewBox="0 0 16 16"
	>
		<path
			fill-rule="evenodd"
			d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
		/></svg
></a>
	<h1 class="text-light display-2 text-center mb-3">{{ name }}</h1>

	<h3 class="text-center">{{ username }}</h3>
	<div class="bg-lightblue text-light card p-3 ">
		<table class="text-light table w-100 ">
			<tr class="py-3">
				<td><strong>ID:</strong></td>
				<td class="py-3 text-end">{{ id }}</td>
			</tr>
			<tr class="mb-3">
				<td><strong>Email:</strong></td>
				<td class="py-3 text-end">{{ email }}</td>
			</tr>
			<tr class="py-3">
				<td><strong>Número de contacto:</strong></td>
				<td class="py-3 text-end">{{ mobile }}</td>
			</tr>
			<tr class="py-3">
				<td><strong>Rol:</strong></td>
				<td class="py-3 text-end">{{ level }}</td>
			</tr>
			<tr class="py-3">
				<td><strong>Creado:</strong></td>
				<td class="py-3 text-end">{{ created | date:"d-m-Y" }}</td>
			</tr>
			<tr class="py-3">
				<td><strong>Modificado:</strong></td>
				<td class="py-3 text-end">{{ modified | date:"d-m-Y" }}</td>
			</tr>
		</table>
	</div>
	<div class="d-flex justify-content-around mt-5">
		<a
			href="#"
			class="w-25 text-decoration-none btn btn-danger"
			id="dropdownUser1"
			data-bs-toggle="dropdown"
			aria-expanded="false"
			>Eliminar
		</a>
		<ul
			class="dropdown-menu dropdown-menu-light text-small shadow"
			aria-labelledby="dropdownUser1"
		>
			<li>
				<p class="text-center">¿Esta segurx?</p>
			</li>
			<li><hr class="dropdown-divider" /></li>
			<li>
				<a class="text-center dropdown-item text-danger" href="delete/"
					>Si</a
				>
			</li>
			<li>
				<a class="text-center dropdown-item" href=""
					>No</a
				>
			</li>
		</ul>
		<a class="btn w-25 btn-primary-dark" href="modify/" role="button"
			>Modificar</a
		>
		<a class="btn w-25 btn-primary-dark" href="reset/" role="button"
			>Resetear contraseña</a
		>
	</div>
</article>

{% endblock %}
