<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<title>SOAC login</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		{% block head_content %}{% endblock %} {% load static %}

		<!-- Bootstrap CSS v5.0.2 -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
	</head>
	<body class="bg-dark">
		<section class="container p-5">
			<h1 class="text-white display-2 text-center mb-5">
				Sistema de Organizaciones de Accion Comunitaria
			</h1>
			<form
				autocomplete="off"
				action="{% url 'reset_password_user' user.id  %}"
				method="POST"
			>
				{% csrf_token %}
				<div class="form-group d-flex flex-column align-items-center">
					<div class="form-group col-md-5 mt-3">
						<label class="text-white" for="#reset_password"
							>Nueva contraseña para {{user.first_name}}
							{{user.lastname}}:</label
						>
						<input
							id="reset_password"
							autocomplete="off"
							class="form-control"
							minlength="8"
							type="password"
							placehuserer=""
							name="new_password"
							required="true"
						/>
					</div>
					<div class="form-group col-md-5 mt-3">
						<label class="text-white" for="#reset_password"
							>Confirma la contraseña:</label
						>
						<input
							id="reset_password"
							autocomplete="off"
							class="form-control"
							minlength="8"
							type="password"
							placehuserer=""
							name="confirm_new_password"
							required="true"
						/>
					</div>
				</div>
				<div class="d-flex justify-content-center my-5">
					<button class="btn btn-outline-primary px-5" type="submit">
						Modificar
					</button>
				</div>
			</form>
			{% if error %}
			<div class="d-flex justify-content-center">
				<div class="alert alert-danger">{{ error }}</div>
			</div>
			{% endif %}
		</section>

		<!-- Bootstrap JavaScript Libraries -->
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
			integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
			integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
			crossorigin="anonymous"
		></script>
	</body>
</html>
