{% extends "base.html" %} {% block head_content %}
<title>SOAC - Reseteo de contraseña: {{ old.username }}</title>
{% endblock%} {% block body %}
<article class="container d-flex flex-column text-white p-5">
	<h1 class="text-white display-2 text-center mb-5">Resetear constraseña</h1>

	<form
		autocomplete="off"
		action="{% url 'reset_password' old.id %}"
		method="POST"
	>
		{% csrf_token %}
		<div class="form-group d-flex flex-column align-items-center">
			<div class="form-group col-md-5 mt-3">
				<label class="text-white" for="#reset_password"
					>Nueva contraseña para {{old.name}} {{old.lastname}}:</label
				>
				<input
					id="reset_password"
					autocomplete="off"
					class="form-control"
					minlength="8"
					type="password"
					placeholder=""
					name="new_password"
					required="true"
				/>
			</div>
			<div class="form-group col-md-5 mt-3">
				<label class="text-white" for="#reset_password"
					>Confirma la contraseña:</label
				>
				<input
					id="reset_password"
					autocomplete="off"
					class="form-control"
					minlength="8"
					type="password"
					placeholder=""
					name="confirm_new_password"
					required="true"
				/>
			</div>
		</div>
		<div class="d-flex justify-content-center my-5">
			<button class="btn btn-outline-primary px-5" type="submit">
				Modificar
			</button>
		</div>
	</form>
	{% if error %}
	<div class="d-flex justify-content-center">
		<div class="alert alert-danger">{{ error }}</div>
	</div>
	{% endif %} {% endblock %}
</article>
