{% extends "base.html" %} {% block head_content %}
<title>SOAC - Reseteo de contraseña: {{ old.username }}</title>
{% endblock%} {% block body %}
<article class="container d-flex flex-column text-dark p-5">
	<a href="javascript: history.go(-1)"
		><svg
			xmlns="http://www.w3.org/2000/svg"
			width="32"
			height="32"
			fill="currentColor"
			class="bi bi-arrow-left-circle"
			viewBox="0 0 16 16"
		>
			<path
				fill-rule="evenodd"
				d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
			/></svg
	></a>
	<h1 class="text-dark display-2 text-center mb-5">Resetear constraseña</h1>

	<form
		autocomplete="off"
		action="{% url 'reset_password' old.id %}"
		method="POST"
	>
		{% csrf_token %}
		<div class="form-group d-flex flex-column align-items-center">
			<div class="form-group col-md-5 mt-5">
				<label class="text-dark" for="#reset_password"
					>Nueva contraseña para {{old.name}} {{old.lastname}}:</label
				>
				<input
					id="reset_password"
					autocomplete="off"
					class="form-control"
					minlength="8"
					type="password"
					placeholder=""
					name="new_password"
					required="true"
				/>
			</div>
			<div class="form-group col-md-5 mt-5">
				<label class="text-dark" for="#reset_password"
					>Confirma la contraseña:</label
				>
				<input
					id="reset_password"
					autocomplete="off"
					class="form-control"
					minlength="8"
					type="password"
					placeholder=""
					name="confirm_new_password"
					required="true"
				/>
			</div>
		</div>
		<div class="d-flex justify-content-center my-5">
			<button class="btn btn-primary-dark px-5" type="submit">
				Modificar
			</button>
		</div>
	</form>
	{% if error %}
	<div class="d-flex justify-content-center">
		<div class="msg msg-danger"> {{ error }}</div>
	</div>
	{% endif %} {% endblock %}
</article>
