{% extends "base.html" %} {% block head_content %}
<title>SOAC - Sign up</title>
{% endblock%} {% block body %}
<article class="container p-5">
	<h1 class="text-white display-2 text-center mb-5">Crear usuario</h1>
	<form autocomplete="off" action="{% url 'signup' %}" method="POST">
		{% csrf_token %}
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-white">Cuit</label>
				<input
					autocomplete="off"
					type="text"
					pattern="\d*"
					maxlength="11"
					minlength="11"
					placeholder="Ej: 445350304"
					name="username"
					required="true"
					class="form-control"
					value="{{values.cuit}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-white">Contraseña</label>
				<input
					autocomplete="off"
					class="form-control"
					minlength="8"
					type="password"
					placeholder="Ej: ********"
					name="password"
					required="true"
				/>
			</div>
		</div>

		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-white">Nombre</label>
				<input
					autocomplete="off"
					class="form-control"
					type="text"
					placeholder="Ej: Juan Ignacio"
					name="first_name"
					required="true"
					value="{{values.name}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-white">Apellido</label>
				<input
					autocomplete="off"
					class="form-control"
					type="text"
					placeholder="Ej: Portila Kitroser"
					name="last_name"
					required="true"
					value="{{values.lastname}}"
				/>
			</div>
		</div>

		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-white">Numero de contacto</label>
				<input
					autocomplete="off"
					type="text"
					pattern="\d*"
					maxlength="25"
					placeholder="11 1234-1234"
					name="mobile"
					class="form-control"
					value="{{values.mobile}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-white">Email</label>
				<input
					autocomplete="off"
					class="form-control"
					type="email"
					placeholder="ejemplo@buenosaires.gob"
					name="email"
					required="true"
					value="{{values.email}}"
				/>
			</div>
		</div>

		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-white">Nivel</label>
				<select
					aria-label="Default select example"
					name="level"
					class="form-control"
				>
					<option value="presidente">Presidente</option>
					<option value="central">Usuario de sede central</option>
					<option selected value="comunal">
						Usuario de sede comunal
					</option>
				</select>
			</div>
			<div class="form-group col-md-5 d-flex align-items-end">
				<button
					class="btn btn-warning btn-block form-control"
					type="submit"
				>
					Registrar
				</button>
			</div>
		</div>
	</form>
	{% if error %}
	<div class="d-flex justify-content-center">
		<div class="alert alert-danger">{{ error }}</div>
	</div>
	{% endif %} {% if alert %}
	<div class="d-flex justify-content-center">
		<div class="alert alert-warning">{{ alert }}</div>
	</div>
	{% endif %}
</article>
{% endblock %}
