{% extends "base.html" %} {% block head_content %}
<title>SOAC - Sign up</title>
{% endblock%} {% block body %}
<article class="container p-5">
	<article class="container p-5"><a href="javascript: history.go(-1)"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-circle mt-1" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/></svg></a>
	<h1 class="text-dark display-2 text-center mb-5">Crear usuario avanzado</h1>
	<form class="bg-lightblue card py-3" autocomplete="off" action="{% url 'signup' %}" method="POST">
		{% csrf_token %}
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-dark text-center">Cuit *</label>
				<input
					autocomplete="off"
					type="text"
					pattern="\d*"
					maxlength="11"
					minlength="11"
					placeholder="Ej: 20445350304"
					name="username"
					required="true"
					class="form-control"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-dark text-center">Contraseña *</label>
				<input
					autocomplete="off"
					class="form-control"
					minlength="8"
					type="password"
					placeholder="********"
					name="password"
					required="true"
				/>
			</div>
		</div>

		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-dark text-center">Nombre *</label>
				<input
					autocomplete="off"
					class="form-control"
					type="text"
					placeholder="Ej: Juan Ignacio"
					name="first_name"
					required="true"
					value="{{values.name}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-dark text-center">Apellido *</label>
				<input
					autocomplete="off"
					class="form-control"
					type="text"
					placeholder="Ej: Portilla"
					name="last_name"
					required="true"
					value="{{values.lastname}}"
				/>
			</div>
		</div>

		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-dark text-center">Número de contacto *</label>
				<input
					autocomplete="off"
					type="text"
					pattern="\d*"
					maxlength="25"
					placeholder="Ej: 111234-1234"
					name="mobile"
					class="form-control"
					value="{{values.mobile}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-dark text-center">Email *</label
				><input
					autocomplete="off"
					class="form-control"
					type="email"
					placeholder="Ej: ejemplo@buenosaires.gob"
					name="email"
					required="true"
				/>
			</div>
		</div>

		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-dark text-center">Nivel *</label>
				<select
					aria-label="Default select example"
					name="level"
					class="form-control form-select"
				>
					<option value="presidente">Presidente</option>
					<option selected value="central">Usuario de sede central</option>
				</select>
			</div>
			<div class="form-group col-md-5 d-flex align-items-end">
				<button
					class="btn btn-primary-dark btn-block form-control"
					type="submit"
				>
					Registrar
				</button>
			</div>
		</div>
	</form>
	{% if error %}
	<div class="d-flex justify-content-center">
		<div class="msg msg-danger"> {{ error }}</div>
	</div>
	{% endif %} {% if alert %}
	<div class="d-flex justify-content-center">
		<div class="msg msg-primary mt-3"> {{ alert }}</div>
	</div>
	{% endif %}
</article>
{% endblock %}
