{% extends "base.html" %} {% block head_content %}
<title>SOAC - Sign up</title>
{% endblock%} {% block body %}
<article class="container p-5">
	<h1 class="text-dark display-2 text-center mb-5">Crear usuario comunal</h1>
	<form class="bg-lightblue card py-3" autocomplete="off" action="{% url 'signup_comunal' %}" method="POST">
		{% csrf_token %}
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-dark text-center">Cuit *</label>
				<input
					autocomplete="off"
					type="text"
					pattern="\d*"
					maxlength="11"
					minlength="11"
					placeholder="Ej: 20445350304"
					name="username"
					required="true"
					class="form-control"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-dark text-center">Contraseña *</label>
				<input
					autocomplete="off"
					class="form-control"
					minlength="8"
					type="password"
					placeholder="********"
					name="password"
					required="true"
				/>
			</div>
		</div>

		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-dark text-center">Nombre *</label>
				<input
					autocomplete="off"
					class="form-control"
					type="text"
					placeholder="Ej: Juan Ignacio"
					name="first_name"
					required="true"
					value="{{values.name}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-dark text-center">Apellido *</label>
				<input
					autocomplete="off"
					class="form-control"
					type="text"
					placeholder="Ej: Portilla"
					name="last_name"
					required="true"
					value="{{values.lastname}}"
				/>
			</div>
		</div>

		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-dark text-center">Número de contacto *</label>
				<input
					autocomplete="off"
					type="text"
					pattern="\d*"
					maxlength="25"
					placeholder="Ej: 111234-1234"
					name="mobile"
					class="form-control"
					value="{{values.mobile}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-dark text-center">Email *</label
				><input
					autocomplete="off"
					class="form-control"
					type="email"
					placeholder="Ej: ejemplo@buenosaires.gob"
					name="email"
					required="true"
				/>
			</div>
		</div>

		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-dark text-center">Comuna *</label>
				<select name='commune' class="form-select">
					<option selected value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
				  </select>
			</div>
			<div class="form-group col-md-5 d-flex align-items-end">
				<button
					class="btn btn-primary-dark btn-block form-control"
					type="submit"
				>
					Registrar
				</button>
			</div>
		</div>
	</form>
	{% if error %}
	<div class="d-flex justify-content-center">
		<div class="msg msg-danger"> {{ error }}</div>
	</div>
	{% endif %} {% if alert %}
	<div class="d-flex justify-content-center">
		<div class="msg msg-primary mt-3"> {{ alert }}</div>
	</div>
	{% endif %}
</article>
{% endblock %}
