{% extends "base.html" %} {% block head_content %}
<title>SOAC - Busqueda de usuarios</title>
{% endblock%} {% block body %}
<article class="container d-flex flex-column text-dark p-5">
	<article class="container p-5"><a href="javascript: history.go(-1)"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-circle mt-1" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/></svg></a>
	<h1 class="text-dark display-2 text-center mb-5">Buscar usuario</h1>

	<form action="{% url 'users' %}" method="POST">
		{% csrf_token %}
		<div class="form-row d-flex justify-content-around">
			<div class="col-3 form-group">
				<input
					class="form-control"
					type="text"
					placeholder="Cuit"
					name="cuit"
					pattern="\d*"
					maxlength="11"
					value="{{values.cuit}}"
				/>
			</div>
			<div class="col-3 form-group">
				<input
					class="form-control"
					type="text"
					placeholder="Nombre"
					name="name"
					value="{{values.name}}"
				/>
			</div>
			<div class="col-3 form-group">
				<input
					class="form-control"
					type="text"
					placeholder="Apellido"
					name="lastname"
					value="{{values.lastname}}"
				/>
			</div>
		</div>

		<div class="form-row d-flex justify-content-around my-3">
			<div class="col-3 form-group">
				<input
					class="form-control"
					type="text"
					placeholder="Correo electronico"
					name="email"
					value="{{values.email}}"
				/>
			</div>
			<div class="col-3 form-group">
				<input
					class="form-control"
					type="text"
					placeholder="Número de contacto"
					name="mobile"
					value="{{values.mobile}}"
				/>
			</div>
			<div class="col-3 form-group">
				<select
					class="form-control"
					aria-label="Default select example"
					name="level"
				>
					<option value="0" selected>Nivel de usuario</option>
					<option value="1">Usuario comunal</option>
					<option value="2">Usuario central</option>
					<option value="3">Presidente</option>
					<option value="4">Administrador de ROAC</option>
				</select>
			</div>
		</div>

		<div class="form-row d-flex justify-content-around my-3">
			<div class="col-3 form-group">
				<a
					class="form-control btn btn-primary-dark mb-3"
					href="{% url 'user_report' %}"
					role="button"
					>Exportar</a
				>
			</div>
			<div class="col-3 form-group">
				<a
					class="form-control btn btn-primary-dark mb-3"
					href="{% url 'users' %}"
					role="button"
					>Limpiar filtros</a
				>
			</div>
			<div class="col-3 form-group">
				<button
					class="btn btn-primary-dark px-3 mb-3 form-control"
					type="submit"
				>
					Buscar
				</button>
			</div>
		</div>
	</form>
	<div class="d-flex bg-lightblue px-5 py-3 card justify-content-center">
		<table class="table text-center text-dark">
		<thead>
			<tr>
				<th scope="col">Cuit</th>
				<th scope="col">Nombre</th>
				<th scope="col">Apellido</th>
				<th scope="col">Email</th>
				<th scope="col">Contacto</th>
				<th scope="col">Nivel</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for u in profile %}
			<tr>
				<td>{{u.username}}</td>
				<td>{{u.first_name}}</td>
				<td>{{u.last_name}}</td>
				<td>{{u.email}}</td>
				<td>{{u.mobile}}</td>
				<td>{{u.level}}</td>
				<td>
					<a
						class="btn btn-primary-dark"
						href="profile/{{u.id}}/"
						role="button"
						>Ver</a
					>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</article>

{% endblock %}
