{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		{% block head_content %}{% endblock %}

		<!-- Bootstrap CSS v5.0.2 -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<!-- Extras -->
		<link rel="stylesheet" href="{% static 'css/alerts.css' %}" />
		<link rel="stylesheet" href="{% static 'css/scrollreveal.css' %}" />
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
		<link rel="stylesheet" href="{% static 'css/accordions.css' %}" />
		<link rel="shortcut icon" href="{% static 'img/favicon.jpg' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap"
			rel="stylesheet"
		/>
		<script src="https://unpkg.com/scrollreveal@4"></script>
		<title>SOAC</title>
	</head>
	<body
		style="flex-wrap: nowrap; font-family: 'Montserrat'; max-width: 100vw; overflow-x: hidden"
		class=" bg-blue row text-dark"
	>
		<section
			class="
				d-flex
				col-1
				flex-column flex-shrink-0
				p-3
				bg-lightblue
				text-dark
			"
			style="width: 200px; min-height: 100vh"
		>
			<a
				href="/"
				class="
					d-flex
					align-items-center
					 mb-md-0
					me-md-auto
					text-dark text-decoration-none
				"
			>
				<div class="mx-2"
					><h5>SOAC</h5></div>
			</a>
			<hr />
			<ul class="nav nav-pills flex-column mb-auto">
				{% if level != 'Presidente' %}
					<li class="mb-1">
						<div class="dropdown">
							<a
								href="#"
								class="
									d-flex
									align-items-center
									text-dark text-decoration-none
									dropdown-toggle
									mb-4
									mx-2
								"
								id="dropdownUser1"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								Organizaciones
							</a>
							<ul
								class="
									dropdown-menu dropdown-menu-light
									text-small
									shadow
								"
								aria-labelledby="dropdownUser1"
							>
								<li>
									<a class="dropdown-item text-dark" href="{% url 'soac' %}"
										>Cargar en "SOAC"</a
									>
								</li>
								<li><hr class="dropdown-divider" /></li>
								<li>
									<a class="dropdown-item text-dark" href="{% url 'roac' %}"
										>Registrar en "ROAC"</a
									>
								</li>
								<li><hr class="dropdown-divider" /></li>
								<li>
									<a class="dropdown-item text-dark" href="{% url 'orgs' %}"
										>Buscar organizaciones</a
									>
								</li>
							</ul>
						</div>
					</li>
				{% endif %}
				<li class="mb-1">
					<div class="dropdown">
						<a
							href="#"
							class="
								d-flex
								align-items-center
								text-dark text-decoration-none
								dropdown-toggle
								mb-4
								mx-2
							"
							id="dropdownUser1"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							Bandejas
						</a>
						<ul
							class="
								dropdown-menu dropdown-menu-light
								text-small
								shadow
							"
							aria-labelledby="dropdownUser1"
						>
							{% if level != 'Presidente' %}
								<li>
									<a
									class="dropdown-item text-dark"
									href="{% url 'edit' %}"
									>Edición</a
									>
								</li>
							{% endif %}
							{% if level == 'Central' or level == 'admin' %}
								<li>
									<a
										class="dropdown-item text-dark"
										href="{% url 'analysis' %}"
										>Analisis</a
									>
								</li>
							{% endif %}
							{% if level == 'Presidente' or level == 'admin' %}
								<li>
									<a
										class="dropdown-item text-dark"
										href="{% url 'sign' %}"
										>Firma</a
									>
								</li>
							{% endif %}
						</ul>
					</div>
				</li>
				{% if level == 'Central' or level == 'admin' %}
				<li class="mb-1">
					<div>
						<a
							href="{% url 'calendar' %}"
							class="
								d-flex
								align-items-center
								text-dark text-decoration-none
								mb-4
								mx-2
							"
						>
							Calendario
						</a>
					</div>
				</li>
				{% endif %}
				{% if level == 'Central' or level == 'admin' %}
				<li class="mb-1">
					<div>
						<a
							href="{% url 'visits' %}"
							class="
								d-flex
								align-items-center
								text-dark text-decoration-none
								mb-4
								mx-2
							"
						>
							Visitas
						</a>
					</div>
				</li>
				{% endif %}
				{% if level == 'Central' or level == 'admin' %}
				<li class="mb-1">
					<div>
						<a
							href="{% url 'activities' %}"
							class="
								d-flex
								align-items-center
								text-dark text-decoration-none
								mb-4
								mx-2
							"
						>
							Actividades
						</a>
					</div>
				</li>
				{% endif %}
				{% if level == 'Central' or level == 'admin' %}
				<li class="mb-1">
					<div>
						<a
							href="{% url 'events' %}"
							class="
								d-flex
								align-items-center
								text-dark text-decoration-none
								mb-4
								mx-2
							"
						>
							Eventos
						</a>
					</div>
				</li>
				{% endif %}
				{% if level == 'Central' or level == 'admin' %}
				<li class="mb-1">
					<div>
						<a
							href="{% url 'claims' %}"
							class="
								d-flex
								align-items-center
								text-dark text-decoration-none
								mb-4
								mx-2
							"
						>
							Reclamos
						</a>
					</div>
				</li>
				{% endif %}
				{% if level == 'Central' or level == 'admin' %}
				<li class="mb-1">
					<div class="dropdown">
						<a
							href="#"
							class="
								d-flex
								align-items-center
								text-dark text-decoration-none
								dropdown-toggle
								mb-4
								mx-2
							"
							id="dropdownUser1"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							Comunicaciones
						</a>
						<ul
							class="
								dropdown-menu dropdown-menu-light
								text-small
								shadow
							"
							aria-labelledby="dropdownUser1"
						>
							<li>
								<a
									class="dropdown-item text-dark"
									href="{% url 'comunications_users' %}"
									>Usuarios</a
								>
							</li>
							<li><hr class="dropdown-divider" /></li>
							<li>
								<a
									class="dropdown-item text-dark"
									href="{% url 'comunications_orgs' %}"
									>Organizaciones</a
								>
							</li>
						</ul>
					</div>
				</li>
				{% endif %}
				{% if level == 'Central' or level == 'admin' %}
				<li class="mb-1">
					<div class="dropdown">
						<a
							href="#"
							class="
								d-flex
								align-items-center
								text-dark text-decoration-none
								dropdown-toggle
								mb-4
								mx-2
							"
							id="dropdownUser1"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							Reportes
						</a>
						<ul
							class="
								dropdown-menu dropdown-menu-light
								text-small
								shadow
							"
							aria-labelledby="dropdownUser1"
						>
							<!-- <li>
								<a
									class="dropdown-item text-dark"
									href=""
									>Altas</a
								>
							</li>
							<li><hr class="dropdown-divider" /></li>
							<li>
								<a
									class="dropdown-item text-dark"
									href=""
									>Renovaciónes</a
								>
							</li>
							<li><hr class="dropdown-divider" /></li>
							<li>
								<a
									class="dropdown-item text-dark"
									href=""
									>Estados</a
								>
							</li>
							<li><hr class="dropdown-divider" /></li>
							<li>
								<a
									class="dropdown-item text-dark"
									href=""
									>Vinculaciónes</a
								>
							</li>
							<li><hr class="dropdown-divider" /></li> -->
							<li>
								<a
									class="dropdown-item text-dark"
									href="{% url 'history' %}"
									>Historial</a
								>
							</li>
						</ul>
					</div>
				</li>
				{% endif %}
				{% if level == 'Central' or level == 'admin' %}
				<li class="mb-1">
					<div class="dropdown">
						<a
							href="#"
							class="
								d-flex
								align-items-center
								text-dark text-decoration-none
								dropdown-toggle
								mb-4
								mx-2
							"
							id="dropdownUser1"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							Usuarios
						</a>
						<ul
							class="
								dropdown-menu dropdown-menu-light
								text-small
								shadow
							"
							aria-labelledby="dropdownUser1"
						>
							<li>
								<a
									class="dropdown-item text-dark"
									href="{% url 'signup' %}"
									>Crear usuario avanzado</a
								>
							</li>
							<li><hr class="dropdown-divider" /></li>
							<li>
								<a
									class="dropdown-item text-dark"
									href="{% url 'signup_comunal' %}"
									>Crear usuario Comunal</a
								>
							</li>
							<li><hr class="dropdown-divider" /></li>
							<li>
								<a
									class="dropdown-item text-dark"
									href="{% url 'users' %}"
									>Buscar usuarios</a
								>
							</li>
						</ul>
					</div>
				</li>
				{% endif %}
			</ul>
			<hr />
			<div class="dropdown">
				<a
					href="#"
					class="
						d-flex
						align-items-center
						text-dark
						text-decoration-none
						dropdown-toggle
						justify-content-center
					"
					id="dropdownUser1"
					data-bs-toggle="dropdown"
					aria-expanded="false"
				>
					<strong>{{request.user.username}}</strong>
				</a>
				<ul
					class="dropdown-menu dropdown-menu-light text-small shadow"
					aria-labelledby="dropdownUser1"
				>
					<li>
						<a class="dropdown-item text-dark" href="{% url 'logout' %}"
							>Cerrar sesion</a
						>
					</li>
				</ul>
			</div>
		</section>
		<section class="col bg-blue load-hidden content">
			{% block body %}{% endblock%}
		</section>

		<!-- Bootstrap JavaScript Libraries -->
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
			integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
			integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
			crossorigin="anonymous"
		></script>

		<!-- Scroll Reveal -->
		<script src="{% static 'js/js_reveal.js' %}"></script>

		<!-- Custom JS -->
		{% block custom_js %}{% endblock %}
		
	</body>
</html>
