{% extends "base.html" %} {% block head_content %}
<title>SOAC - Modificación de organizacion: {{ old.name }}</title>
{% endblock%} {% block body %}
<article class="container d-flex flex-column text-white p-5">
	<a href="javascript: history.go(-1)"
	><svg
		xmlns="http://www.w3.org/2000/svg"
		width="32"
		height="32"
		fill="currentColor"
		class="bi bi-arrow-left-circle m	t-3"
		viewBox="0 0 16 16"
	>
		<path
			fill-rule="evenodd"
			d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
		/></svg
	></a>
	<h1 class="text-white display-2 text-center mb-5">Modificar a "{{ old.name }}" </h1>
	<form
		autocomplete="off"
		action="{% url 'modify_org' old.id %}"
		method="POST"
	>
		{% csrf_token %}
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-white">Nombre</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Nombre"
					name="name"
					required="true"
					class="form-control"
					value="{{old.name}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-white">Direccion</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Direccion"
					name="address"
					required="true"
					class="form-control"
					value="{{old.address}}"
				/>
			</div>
		</div>
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-white">Departamento</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Departamento"
					name="dpto"
					required="true"
					class="form-control"
					value="{{old.dpto}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-white">Barrio</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Barrio"
					name="nhood"
					required="true"
					class="form-control"
					value="{{old.nhood}}"
				/>
			</div>
		</div>
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-white">Comuna</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Comuna"
					name="commune"
					required="true"
					class="form-control"
					value="{{old.commune}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-white">Areas</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Areas"
					name="areas"
					required="true"
					class="form-control"
					value="{{old.areas}}"
				/>
			</div>
		</div>
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-white">Tipo de organizacion</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Tipo de organizacion"
					name="type"
					required="true"
					class="form-control"
					value="{{old.type}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-white">IGJ</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="IGJ"
					name="igj"
					required="true"
					class="form-control"
					value="{{old.igj}}"
				/>
			</div>
		</div>
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-white">Publico</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Publico"
					name="public"
					required="true"
					class="form-control"
					value="{{old.public}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-white">Codigo postal</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Codigo postal"
					name="postal_code"
					required="true"
					class="form-control"
					value="{{old.postal_code}}"
				/>
			</div>
		</div>
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-white">Email</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Email"
					name="email"
					class="form-control"
					value="{{old.email}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-white">Numero de contacto</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Numero de contacto"
					name="mobile"
					class="form-control"
					value="{{old.mobile}}"
				/>
			</div>
		</div>
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-white">Dominio</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Dominio"
					name="domain"
					class="form-control"
					value="{{old.domain}}"
				/>
			</div>
			<div class="form-group col-md-5 d-flex align-items-end">
				<button
					class="btn btn-outline-primary btn-block form-control"
					type="submit"
				>
					Registrar
				</button>
			</div>
		</div>
		</div>
	</form>
	{% if error %}
	<div class="d-flex justify-content-center">
		<div class="alert alert-danger">{{ error }}</div>
	</div>
	{% endif %}
</article>

{% endblock %}
