{% extends "base.html" %} {% block head_content %}{% load static %}
<title>SOAC - {{ name }}</title>
{% endblock%} {% block body %}
<article class="container d-flex flex-column text-light p-5">
	<a href="javascript: history.go(-1)"
	><svg
		xmlns="http://www.w3.org/2000/svg"
		width="32"
		height="32"
		fill="currentColor"
		class="bi bi-arrow-left-circle m	t-3"
		viewBox="0 0 16 16"
	>
		<path
			fill-rule="evenodd"
			d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1h5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
		/></svg
	></a>
	<h1 class="text-light display-2 text-center mb-5">{{ name }}</h1>
	<div class="d-flex text-light justify-content-around mb-3">
		<h5><strong> Id: </strong> {{ id }}</h5>
		<h5><strong> ROAC: </strong> 
			{% if roac == 1 and state == 'activa'%}
				Si
			{% else %}
				No
			{% endif %}
		</h5>
	</div>
	<div class="d-flex justify-content-around ">
		<div class="d-flex flex-column w-50">
			<div class="d-flex flex-row justify-content-between">
			<div style="min-width: 35%" class="card h-100 bg-lightblue">
				<div class="card-header-dark text-center">
					<h5>Datos</h5>
				</div>
				<div class="card-body">
					<p><strong> Tipo: </strong> {{ type }}</p>
					<p><strong> Público: </strong> {{ public }}</p>
					<p><strong> Áreas: </strong> {{ areas }}</p>
				</div>
			</div>
			<div class="card h-100 bg-lightblue w-50">
				<div class="card-header-dark text-center">
					<h5>Ubicacion</h5>
				</div>
				<div class="card-body">
					<p><strong> Dirección: </strong> {{ address }}</p>
					<p><strong> Departamento: </strong> {{ dpto }}</p>
					<p><strong> código postal: </strong> {{ postal_code }}</p>
					<p><strong> Barrio: </strong> {{ nhood }}</p>
					<p><strong> Comuna: </strong> {{ commune }}</p>
					<p><strong> Dominio: </strong> {{ domain }}</p>
				</div>
			</div>
		</div>
		<div class="d-flex mt-5">
			<div class="card h-100 w-100 bg-lightblue">
				<div class="card-header-dark text-center">
					<h5>Vinculación</h5>
				</div>
				<div class="card-body">
					<table class="table text-light">
						<thead>
							<tr>
								<th scope="col">Fecha</th>
								<th scope="col">Usuario</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>18-11-2002</td>
								<td>445350304</td>
								<td><a class="btn btn-secondary-light" target="_blank" href="#" role="button">Ver</a></td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
		  <div class="d-flex flex-column">
		  <div class="card h-50 bg-lightblue">
			<div class="card-header-dark text-center">
			  <h5>Contacto</h5>
			</div>
			<div class="card-body">
				<p><strong> Número de contacto: </strong> {{ mobile }}</p>
				<p><strong> Correo electronico: </strong> {{ email }}</p>
			</div>
		  </div>
		  <div class="card h-100 bg-lightblue mt-5">
			<div class="card-header-dark text-center">
			  <h5>Inscripcion</h5>
			</div>
			<div class="card-body">
				<p><strong> Estado: </strong> {{ state }}</p>
					<p>
						<strong> Fecha de inscripcion a SOAC: </strong> {{ created | date:"d-m-Y" }}
					</p>
					{% if roac == 1 and state == 'activa'%}
					<p>
						<strong> Fecha de inscripción a ROAC: </strong> {{ enrolled | date:"d-m-Y" }}
					</p>
					<p><strong> Fecha de renovación: </strong> {{ renoved | date:"d-m-Y" }}
					</p>
					<p>
						<strong> Fecha de vencimiento: </strong> {{expiration | date:"d-m-Y"}}
					</p>
					{% endif %}
					
					<p>
						<strong> Fecha de ultima modificación: </strong> {{ modified | date:"d-m-Y" }}
					</p>
					<p>
						<strong> Inscripta en IGJ: </strong>
						{% if igj %} Si {% endif %} {% if not igj %}No{%endif%}
					</p>
			</div>
		  </div>
		</div>
	</div>
	<div class="d-flex justify-content-around mt-5">
		<a
			href="#"
			class=" text-decoration-none btn btn-danger"
			id="dropdownUser1"
			data-bs-toggle="dropdown"
			aria-expanded="false"
			>Eliminar
		</a>
		<ul
			class="dropdown-menu dropdown-menu-light text-small shadow"
			aria-labelledby="dropdownUser1"
		>
			<li>
				<p class="text-center">¿Esta segurx?</p>
			</li>
			<li><hr class="dropdown-divider" /></li>
			<li>
				<a class="text-center dropdown-item text-danger" href="delete/"
					>Si</a
				>
			</li>
			<li>
				<a class="text-center dropdown-item" href="profile/{{id}}/"
					>No</a
				>
			</li>
		</ul>
		{% if roac == 1 and state == 'activa' %}
		<a
			href="down/"
			class=" text-decoration-none btn btn-danger"
			>Dar de baja
		</a>
		{% endif %}
		<a class="btn btn-primary-dark" href="org_report/" role="button"
			>Exportar</a
		>
		<a class="btn btn-primary-dark" href="modify/" role="button"
			>Modificar</a
		>
		{% if state == 'no-registrada' or state == 'editar' %}
		<a class="btn btn-primary-dark" href="register/" role="button">Registrar</a>	
		{% endif %}
		{% if state == 'pre-activa' or state == 'activa' or state == 'firmar'%}
		<a class="btn btn-primary-dark" target="_blank" href="/media/{{doc}}">Ver documentacion</a>
		{% endif %}
	</div>
</article>

{% endblock %}
