{% extends "base.html" %} {% block head_content %}
<title>SOAC - Busqueda de organizaciónes</title>
{% endblock%} {% block body %}
<article class="container d-flex flex-column text-white p-5">
	<a href="javascript: history.go(-1)"
	><svg
		xmlns="http://www.w3.org/2000/svg"
		width="32"
		height="32"
		fill="currentColor"
		class="bi bi-arrow-left-circle mt-3"
		viewBox="0 0 16 16"
	>
		<path
			fill-rule="evenodd"
			d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
		/></svg
></a>
	<h1 class="text-white display-2 text-center mb-5">Buscar Organización</h1>

	<form action="{% url 'orgs' %}" method="POST">
		{% csrf_token %}
		<div class="form-row d-flex justify-content-around">
			<div class="col mx-1 form-group">
				<input
					class="form-control"
					type="text"
					placeholder="Nombre"
					name="name"
					value="{{values.name}}"
				/>
			</div>
			<div class="col mx-1 form-group">
				<input
					class="form-control"
					type="text"
					placeholder="Dominio"
					name="domain"
					value="{{values.domain}}"
				/>
			</div>
			<div class="col mx-1 form-group">
				<input
					class="form-control"
					type="text"
					placeholder="Dirección"
					name="address"
					value="{{values.address}}"
				/>
			</div>
			<div class="col mx-1 form-group">
				<input
					class="form-control"
					type="text"
					placeholder="Barrio"
					name="nhood"
					value="{{values.nhood}}"
				/>
			</div>
			<div class="col mx-1 form-group">
				<input
					class="form-control"
					type="text"
					placeholder="Comuna"
					name="commune"
					value="{{values.commune}}"
				/>
			</div>
		</div>

		<div class="form-row d-flex justify-content-around my-3">
			<div class="col mx-1 form-group">
				<input
					class="form-control"
					type="text"
					placeholder="Áreas"
					name="areas"
					pattern="\d*"
					maxlength="11"
					value="{{values.areas}}"
				/>
			</div>
			<div class="col mx-1 form-group">
				<select
					aria-label="Default select example"
					name="igj"
					class="form-control"
				>
					<option value="0">IGJ</option>
					<option value="2">No</option>
					<option value="1">Si</option>
				</select>
			</div>
			<div class="col mx-1 form-group">
				<input
					class="form-control"
					type="text"
					placeholder="Tipo"
					name="type"
					value="{{values.type}}"
				/>
			</div>
			<div class="col mx-1 form-group">
				<input
					class="form-control"
					type="text"
					placeholder="Público"
					name="public"
					value="{{values.public}}"
				/>
			</div>
			<div class="col mx-1 form-group">
				<input
					class="form-control"
					type="text"
					placeholder="Código postal"
					name="postal_code"
					value="{{values.postal_code}}"
				/>
			</div>
		</div>
		<div
			class="
				form-check form-switch form-row
				d-flex
				justify-content-center
			"
		>
			<label for="flexSwitchCheckDefault">ROAC</label>
			<input
				class="mx-4 form-check-input"
				type="checkbox"
				name="roac"
				id="flexSwitchCheckDefault"
			/>
		</div>

		<div class="form-row d-flex justify-content-around my-3">
			<div class="col-3 form-group">
				<a
					class="form-control btn btn-outline-primary mb-3"
					href="{% url 'orgs_report' %}"
					role="button"
					>Exportar</a
				>
			</div>
			<div class="col-3 form-group">
				<a
					class="form-control btn btn-outline-primary mb-3"
					href="{% url 'orgs' %}"
					role="button"
					>Limpiar filtros</a
				>
			</div>
			<div class="col-3 form-group">
				<button
					class="btn btn-primary px-3 mb-3 form-control"
					type="submit"
				>
					Buscar
				</button>
			</div>
		</div>
	</form>
	<div class="d-flex justify-content-center"></div>
	<table class="table table-dark text-center">
		<thead>
			<tr>
				<th scope="col">Nombre</th>
				<th scope="col">Dominio</th>
				<th scope="col">Dirección</th>
				<th scope="col">Barrio</th>
				<th scope="col">Comuna</th>
				<th scope="col">Áreas</th>
				<th scope="col">IGJ</th>
				<th scope="col">Tipo</th>
				<th scope="col">Público</th>
				<th scope="col">CP</th>
				<th scope="col">ROAC</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for u in org %}
			<tr>
				<td>{{u.name}}</td>
				<td>{{u.domain}}</td>
				<td>{{u.address}}</td>
				<td>{{u.nhood}}</td>
				<td>{{u.commune}}</td>
				<td>{{u.areas}}</td>
				{% if igj %}
				<td>Si</td>
				{% endif %} {% if not igj %}
				<td>No</td>
				{% endif %}
				<td>{{u.type}}</td>
				<td>{{u.public}}</td>
				<td>{{u.postal_code}}</td>
				<td>
				{% if u.roac == 1 %}
				Si
				{% endif %} {% if u.roac == 0 %}
				No
				{% endif %}
				</td>
				<td>
					<a
						class="btn btn-outline-primary"
						href="org/{{u.id}}/"
						role="button"
						>Ver</a
					>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</article>

{% endblock %}
