{% extends "base.html" %} {% block head_content %}
<title>SOAC - Registrando {{ info.name }}</title>
{% endblock%} {% block body %}
<article class="container d-flex flex-column text-dark p-5">
	<h1 class="text-dark display-2 text-center mb-5 bold" style='font-weight: bolder'>Registrar organizacion</h1>
	<table class="table text-dark">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">
				<label>Documentacion:</label>
				{{ form.as_p }}
			</div>
	</table>
	<div class="form-group d-flex justify-content-around mt-3">
		<button type="submit" class='btn btn-primary-dark w-50'>Registrar</button>
	</div>
	</form>

	{% if error %}
	<div class="d-flex justify-content-center">
		<div class="msg msg-danger"> {{ error }}</div>
	</div>
	{% endif %}
</article>

{% endblock %}
