{% extends "base.html" %} {% block head_content %}
<title>SOAC - Cargar organizacion</title>
{% endblock%} {% block body %}
<article class="container p-5">
	<h1 class="text-white display-2 text-center mb-5">Cargar organizacion</h1>
	<form autocomplete="off" action="{% url 'soac' %}" method="POST">
		{% csrf_token %}

		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-white">Nombre</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Ej: Chacarita"
					name="name"
					required="true"
					class="form-control"
					value="{{values.name}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-white">Dominio</label>
				<select
					aria-label="Default select example"
					name="domain"
					class="form-control"
				>
					<option value="nn">No especificado</option>
					<option value="propia">Propia</option>
					<option value="alquilada">Alquilada</option>
				</select>
			</div>
		</div>
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-white">Calle y altura</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Ej: Bogota 66"
					name="address"
					required="true"
					class="form-control"
					value="{{values.address}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-white">Departamento</label>
				<input
					autocomplete="off"
					type="text"
					maxlength="5"
					placeholder="Ej: 4C"
					name="dpto"
					required="true"
					class="form-control"
					value="{{values.dpto}}"
				/>
			</div>
		</div>
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-white">Barrio</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Ej: Caballito"
					name="nhood"
					required="true"
					class="form-control"
					value="{{values.nhood}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-white">Comuna</label>
				<input
					autocomplete="off"
					type="text"
					maxlength="2"
					placeholder="Ej: 06"
					name="commune"
					required="true"
					class="form-control"
					value="{{values.commune}}"
				/>
			</div>
		</div>
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-white">Areas</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Ej: (?)"
					name="areas"
					required="true"
					class="form-control"
					value="{{values.areas}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-white">Codigo postal</label>
				<input
					autocomplete="off"
					type="text"
					maxlength="5"
					placeholder="Ej: 1405"
					name="postal_code"
					class="form-control"
					value="{{values.postal_code}}"
				/>
			</div>
		</div>
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-white">Tipo de organizacion</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Ej: Club"
					name="type"
					required="true"
					class="form-control"
					value="{{values.type}}"
				/>
			</div>
			<div class="form-group col-md-5">
				<label class="text-white">Tipo de publico</label>
				<input
					autocomplete="off"
					type="text"
					placeholder="Ej: Adultos"
					name="public"
					class="form-control"
					value="{{values.public}}"
				/>
			</div>
		</div>
		<div class="form-row d-flex justify-content-around mb-3">
			<div class="form-group col-md-5">
				<label class="text-white">Inscripta en IGJ</label>
				<select
					aria-label="Default select example"
					name="igj"
					class="form-control"
				>
					<option value="False">No</option>
					<option value="True">Si</option>
				</select>
			</div>
			<div class="form-group col-md-5 d-flex align-items-end">
				<button
					class="btn btn-outline-primary btn-block form-control"
					type="submit"
				>
					Cargar
				</button>
			</div>
		</div>
	</form>
	{% if error %}
	<div class="d-flex justify-content-center">
		<div class="alert alert-danger">{{ error }}</div>
	</div>
	{% endif %} {% if alert %}
	<div class="d-flex justify-content-center">
		<div class="alert alert-primary">{{ alert }}</div>
	</div>
	{% endif %}
</article>
{% endblock %}
