{% extends "base.html" %} 
{% load static %}
{% block head_content %}
<title>SOAC - Calendario general</title>
<link href="{% static 'css/fullcalendar/main.min.css' %}" rel='stylesheet' />
<script src="{% static 'js/fullcalendar/main.min.js' %}"></script>
<script src="{% static 'js/fullcalendar/locales-all.min.js' %}"></script>

<script>
	var date = new Date()
	var d = date.getDate(),
		m = date.getMonth(),
		y = date.getFullYear()

	document.addEventListener('DOMContentLoaded', function() {
		var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
		initialView: 'dayGridMonth',
		scrollTime: '07:00:00',
		navLinks: 'True',
		locale: 'es',
		nowIndicator: 'True',
		themeSystem: 'Darkly',
		headerToolbar: {
			left: 'prev,next,today',
			center: 'title',
			right: 'timeGridDay,timeGridWeek,dayGridMonth'
		},

		events: [
			{% for e in event %}
				{
					title: '{{e.event_name}}',
					start: '{{e.date}}T{{e.hour}}',
					extendedProps: {
                        id: '{{e.id}}',
						spot: '{{e.spot}}',
						type: 'event',
					},
					{% if e.hour != '00:00:00' %}
                    allDay: false,
                    {% else %}
                    allDay: true,
                    {% endif %}
					backgroundColor: '#0dcaf0',
					borderColor: '#0dcaf0',
					url: '{% url 'event' e.id %}',
				},
			{% endfor %}
			{% for a in activity %}
			{
				title: '{{a.activity_name}}',
				start: '{{a.date}}T{{a.hour}}',
				extendedProps: {
					org: '{{a.activity_org}}',
					id: '{{a.id}}',
					type: 'activity',
				},
				{% if a.hour != '00:00:00' %}
				allDay: false,
				{% else %}
				allDay: true,
				{% endif %}
				backgroundColor: '#dc3545',
				borderColor: '#dc3545',
				url: '{% url 'activity' a.id %}',
			},
		{% endfor %}
		{% for v in visit %}
			{
				title: '{{v.visit_org.name}}',
				start: '{{v.date}}T{{v.hour}}',
				extendedProps: {
					org: '{{v.visit_org}}',
					id: '{{v.id}}',
					type: 'visit',
				},
				{% if v.hour != '00:00:00' %}
				allDay: false,
				{% else %}
				allDay: true,
				{% endif %}
				backgroundColor: '#198754',
				borderColor: '#198754',
				url: '{% url 'visit' v.id %}',
			},
		{% endfor %}
		],
        });


        calendar.render();
	})
</script>

{% endblock %} 
{% block body %}
<section class="container p-5">
	<a href="javascript: history.go(-1)"
	><svg
		xmlns="http://www.w3.org/2000/svg"
		width="32"
		height="32"
		fill="currentColor"
		class="bi bi-arrow-left-circle mt-1"
		viewBox="0 0 16 16"
	>
		<path
			fill-rule="evenodd"
			d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
		/></svg
	></a>
	<h1 class="text-light display-2 text-center mb-5">Calendario general</h1>

	<article class="card bg-lightblue">
		<div id="calendar"></div>
	</article>
</section>
{% endblock %}