{% extends "base.html" %} 
{% load static %}
{% block head_content %}
<title>SOAC - Calendario general</title>
<link href="{% static 'css/fullcalendar/main.min.css' %}" rel='stylesheet' />
<script src="{% static 'js/fullcalendar/main.min.js' %}"></script>
<script src="{% static 'js/fullcalendar/locales-all.min.js' %}"></script>

<script>
	var date = new Date()
	var d = date.getDate(),
		m = date.getMonth(),
		y = date.getFullYear()

	document.addEventListener('DOMContentLoaded', function() {
		var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
		initialView: 'dayGridMonth',
		scrollTime: '07:00:00',
		navLinks: 'True',
		locale: 'es',
		nowIndicator: 'True',
		themeSystem: 'Darkly',
		headerToolbar: {
			left: 'prev,next,today',
			center: 'title',
			right: 'timeGridDay,timeGridWeek,dayGridMonth'
		},

		events: [
			{% for e in event %}
				{
					title: '{{e.event_name}}',
					start: '{{e.date}}T{{e.hour}}',
					extendedProps: {
                        id: '{{e.id}}',
						spot: '{{e.spot}}',
						type: 'event',
					},
                    allDay: false,
					backgroundColor: '#0dcaf0',
					borderColor: '#0dcaf0',
					url: '{% url 'event' e.id %}',
				},
			{% endfor %}
			{% for a in activity %}
			{
				title: '{{a.activity_type}}',
				start: '{{a.date}}T{{a.hour}}',
				extendedProps: {
					org: '{{a.activity_org}}',
					id: '{{a.id}}',
					type: 'activity',
				},
				allDay: false,
				backgroundColor: '#dc3545',
				borderColor: '#dc3545',
				url: '{% url 'activity' a.id %}',
			},
		{% endfor %}
		{% for v in visit %}
			{
				title: '{{v.org_name}}',
				start: '{{v.date}}T{{v.hour}}',
				extendedProps: {
					org: '{{v.visit_org}}',
					id: '{{v.id}}',
					type: 'visit',
				},
				allDay: false,
				backgroundColor: '#198754',
				borderColor: '#198754',
				url: '{% url 'visit' v.id %}',
			},
		{% endfor %}
		],
        });


        calendar.render();
	})
</script>

{% endblock %} 
{% block body %}
<section class="container p-5">
	
	<h1 class="text-dark display-2 text-center mb-5">Calendario general</h1>

	<article class="text-dark card bg-lightblue">
		<div id="calendar"></div>
	</article>
</section>
{% endblock %}