{% extends "base.html" %} {% block head_content %}
<title>SOAC - Evento: {{event.event_name}}</title>
{% endblock%} {% block body %}
<article class="container d-flex flex-column text-dark p-5">
	<article class="container p-5"><a href="javascript: history.go(-1)"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-circle mt-1" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/></svg></a>
	<h1 class="text-dark display-2 text-center mb-3">{{ event.event_name }}</h1>
	<h3 class="text-center">{{ event.date | date:"d-m-Y"}}</h3>

    <div class="bg-lightblue text-dark card p-3 ">
		<table class="text-dark table w-100 ">
			<tr class="py-3">
				<td><strong>ID:</strong></td>
				<td class="py-3 text-end">{{ event.id }}</td>
			</tr>
			<tr class="mb-3">
				<td><strong>Creado:</strong></td>
				<td class="py-3 text-end">{{ event.created | date:"d-m-Y" }}</td>
			</tr>
			<tr class="py-3">
				<td><strong>Fecha:</strong></td>
				<td class="py-3 text-end">{{ event.date | date:"d-m-Y" }}</td>
			</tr>
			<tr class="py-3">
				<td><strong>Hora:</strong></td>
				{% if event.hour != '00:00:00' %}
				<td class="py-3 text-end">{{ event.hour }}</td>
				{% else %}
				<td class="py-3 text-end">Todo el dia</td>
				{% endif %}
			</tr>
			<tr class="py-3">
				<td><strong>Lugar:</strong></td>
				<td class="py-3 text-end">{{ event.spot  }}</td>
			</tr>
			<tr class="py-3">
				<td><strong>Invitados:</strong></td>
				<td class="py-3 text-end">{{ orgs }}</td>
			</tr>
		</table>
	</div>
	{% if level == 'central' or level == 'admin' %}
    <div class="d-flex justify-content-around mt-5">
		<a
			href="#"
			class="w-25 text-decoration-none btn btn-danger"
			id="dropdownUser1"
			data-bs-toggle="dropdown"
			aria-expanded="false"
			>Eliminar
		</a>
		<ul
			class="dropdown-menu dropdown-menu-light text-small shadow"
			aria-labelledby="dropdownUser1"
		>
			<li>
				<p class="text-center">¿Esta segurx?</p>
			</li>
			<li><hr class="dropdown-divider" /></li>
			<li>
				<a class="text-center dropdown-item text-danger" href="delete/"
					>Si</a
				>
			</li>
			<li>
				<a class="text-center dropdown-item text-dark" href=""
					>No</a
				>
			</li>
		</ul>
		<a class="btn w-25 btn-primary-dark" href="modify/" role="button"
			>Modificar</a
		>
	</div>
	{% endif %}
</article>

{% endblock %}
